.vacancies {
    display: flex;
    width: 1187px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.vacancies__main-text {
    color: var(--text-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.vacancies__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.vacancies__main-blocks {
    display: flex;
    width: 790px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}
