{{!-- <div class="responses">
  <div class="responses__main-text">
    Мои отклики
  </div>
  <div class="responses__blocks">
    <div class="response-block">
      <div class="response-block__main-info">
        <div class="response-block__status-frame">
          <div class="response-block__status response-block__status--not-checked">
            Не просмотрено
          </div>
        </div>
        <div class="response__employer">
          <div class="response__job-name">
            Младший разработчик в HR Tek
          </div>
          <div class="response__company-name">
            VK
          </div>
        </div>
      </div>
      <div class="response-block__date">
        10.10.2023
      </div>
    </div>



    <div class="response-block">
      <div class="response-block__main-info">
        <div class="response-block__status-frame">
          <div class="response-block__status response-block__status--deleted">
            Удалено
          </div>
        </div>
        <div class="response__employer">
          <div class="response__job-name">
            Младший разработчик в HR Tek
          </div>
          <div class="response__company-name">
            VK
          </div>
        </div>
      </div>
      <div class="response-block__date">
        10.10.2023
      </div>
    </div>


    <div class="response-block">
      <div class="response-block__main-info">
        <div class="response-block__status-frame">
          <div class="response-block__status response-block__status--checked">
            Просмотрено
          </div>
        </div>
        <div class="response__employer">
          <div class="response__job-name">
            Младший разработчик в HR Tek
          </div>
          <div class="response__company-name">
            VK
          </div>
        </div>
      </div>
      <div class="response-block__date">
        10.10.2023
      </div>
    </div>

    
    <div class="response-block">
      <div class="response-block__main-info">
        <div class="response-block__status-frame">
          <div class="response-block__status response-block__status--answered">
            Есть ответ
          </div>
        </div>
        <div class="response__employer">
          <div class="response__job-name">
            Младший разработчик в HR Tek
          </div>
          <div class="response__company-name">
            VK
          </div>
        </div>
      </div>
      <div class="response-block__date">
        10.10.2023
      </div>
    </div>
  </div>
</div> --}}
