<div class="resumes">
  <div class="resumes__main-text header-text header-text--first text-dark-title">
    Мои резюме
  </div>
  <div class="resumes__blocks">
    <div class="resumes__main-blocks">
      {{log data}}
      {{#each data}}
      <div class="resume">
        <div class="resume__job-type">
          <div class="resume__job-name header-text header-text--second text-dark-title">{{this.profession_name}}</div>
          {{#iff this.status '==' 'searching'}}
            <div class="resume__status resume__status--avaliable">Доступно для просмотра</div>
          {{else}}
            <div class="resume__status resume__status--hidden">Скрыто для просмотра</div>
          {{/iff}}
        </div>
        <div class="resume__statistic">
          <div class="resume__statistic-text header-text header-text--third text-dark-title">Статистика</div>
          <div class="resume__statistic-more">
            <div class="resume__statistic-more-text common-text common-text--regular text-dark-regular">0 просмотров</div>
            <div class="resume__statistic-line"></div>
            <div class="resume__statistic-more-text common-text common-text--regular text-dark-regular">0 ответов</div>
          </div>
        </div>
        <div class="resume__btns">
          <a href="/resume/{{this.id}}"
            class="js-nav-link link-btn-blue--bg text-light-title common-text common-text--regular">
            Просмотреть
          </a>
          <div
            class="link-btn-blue text-dodger-blue common-text common-text--regular cursor-no-allowed">
            Скрыть резюме
          </div>
          <div class="link-btn_blue-without-bd common-text common-text--regular">
            Посмотреть вакансии
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="resume__form-create">
      <a href="/resume_creation"
        class="js-nav-link link-btn-blue--bg text-light-title common-text common-text--regular">
        Создать новое резюме
      </a>
      <div class="resumes__looking-work">
        <div class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-green cursor-not-allowed">
          Я ищу работу
        </div>
        <img class="link-btn cursor-img cursor-not-allowed" src="../../../../public/images/img/chevron_down_24.png" alt="cursor">
      </div>
    </div>
  </div>
</div>
