<div class="responses">
  <div class="responses__main-text header-text header-text--first text-dark-title">
    Мои отклики
  </div>
  <div class="responses__blocks">
    {{#each data}}
      <div class="response-block">
        <div class="response-block__main-info">
          <div class="response-block__status-frame">
            <div class="response-block__status response-block__status--not-checked">
              Отправлено
            </div>
            <div class="response-block__status-svg">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <path d="M15.9167 30L6.41667 20.5L8.79167 18.125L15.9167 25.25L31.2083 9.95833L33.5833 12.3333L15.9167 30Z" fill="#0496FF"/>
              </svg>
            </div>
          </div>
          <div class="response__employer">
            <div class="response__job-name header-text header-text--second text-dark-title">
              {{this.vacancy_name}}
            </div>
            <div class="response__company-name common-text common-text-regular text-dark-regular">
              {{this.organization_name}}
            </div>
          </div>
        </div>
        <div class="response-block__date">
          {{formatDate  this.updated_at}}
        </div>
      </div>
    {{/each}}
    {{!-- <div class="response-block">
      <div class="response-block__main-info">
        <div class="response-block__status-frame">
          <div class="response-block__status response-block__status--checked">
            Просмотрено
          </div>
          <div class="response-block__status-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M31.06 10.44C31.3409 10.7213 31.4987 11.1025 31.4987 11.5C31.4987 11.8975 31.3409 12.2787 31.06 12.56L12.06 31.56C11.7788 31.8409 11.3975 31.9987 11 31.9987C10.6025 31.9987 10.2213 31.8409 9.94 31.56L0.940002 22.56C0.792628 22.4227 0.674424 22.2571 0.59244 22.0731C0.510456 21.8891 0.466372 21.6904 0.462819 21.489C0.459265 21.2876 0.496315 21.0876 0.571757 20.9008C0.647199 20.714 0.759488 20.5444 0.901925 20.4019C1.04436 20.2595 1.21403 20.1472 1.40081 20.0718C1.58758 19.9963 1.78764 19.9593 1.98905 19.9628C2.19045 19.9664 2.38908 20.0105 2.57308 20.0924C2.75708 20.1744 2.92268 20.2926 3.06 20.44L11 28.38L28.94 10.44C29.2213 10.1591 29.6025 10.0013 30 10.0013C30.3975 10.0013 30.7788 10.1591 31.06 10.44ZM39.06 10.44C39.3409 10.7213 39.4987 11.1025 39.4987 11.5C39.4987 11.8975 39.3409 12.2787 39.06 12.56L20.06 31.56C19.9227 31.7074 19.7571 31.8256 19.5731 31.9076C19.3891 31.9895 19.1905 32.0336 18.989 32.0372C18.7876 32.0407 18.5876 32.0037 18.4008 31.9282C18.214 31.8528 18.0444 31.7405 17.9019 31.5981C17.7595 31.4556 17.6472 31.286 17.5718 31.0992C17.4963 30.9124 17.4593 30.7124 17.4628 30.511C17.4664 30.3096 17.5105 30.1109 17.5924 29.9269C17.6744 29.7429 17.7926 29.5773 17.94 29.44L36.94 10.44C37.2213 10.1591 37.6025 10.0013 38 10.0013C38.3975 10.0013 38.7788 10.1591 39.06 10.44Z" fill="#0496FF"/>
            </svg>
          </div>
        </div>
        <div class="response__employer">
          <div class="response__job-name">
            Младший разработчик в HR Tek
          </div>
          <div class="response__company-name">
            VK
          </div>
        </div>
      </div>
      <div class="response-block__date">
        10.10.2023
      </div>
    </div>

    <div class="response-block">
      <div class="response-block__main-info">
        <div class="response-block__status-frame">
          <div class="response-block__status response-block__status--deleted">
            Удалено
          </div>
          <div class="response-block__status-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.674 8H5.5C5.10218 8 4.72064 8.15804 4.43934 8.43934C4.15804 8.72065 4 9.10218 4 9.5C4 9.89783 4.15804 10.2794 4.43934 10.5607C4.72064 10.842 5.10218 11 5.5 11H6.59L8.404 29.496C8.506 30.542 8.592 31.416 8.718 32.124C8.85 32.864 9.044 33.546 9.424 34.18C10.0134 35.164 10.8813 35.9512 11.918 36.442C12.586 36.758 13.282 36.886 14.034 36.942C14.754 37 15.628 37 16.68 37H23.32C24.372 37 25.248 37 25.966 36.944C26.718 36.884 27.414 36.758 28.082 36.444C29.119 35.9527 29.9869 35.1648 30.576 34.18C30.956 33.546 31.15 32.866 31.282 32.124C31.408 31.414 31.494 30.544 31.596 29.496L33.41 11H34.5C34.8978 11 35.2794 10.842 35.5607 10.5607C35.842 10.2794 36 9.89783 36 9.5C36 9.10218 35.842 8.72065 35.5607 8.43934C35.2794 8.15804 34.8978 8 34.5 8H26.326C25.9895 6.57503 25.1817 5.30541 24.0336 4.39682C22.8854 3.48823 21.4642 2.9939 20 2.9939C18.5358 2.9939 17.1146 3.48823 15.9664 4.39682C14.8183 5.30541 14.0105 6.57503 13.674 8ZM16.836 8H23.164C22.88 7.40129 22.4319 6.89545 21.8718 6.54125C21.3117 6.18706 20.6627 5.99904 20 5.99904C19.3373 5.99904 18.6883 6.18706 18.1282 6.54125C17.5681 6.89545 17.12 7.40129 16.836 8ZM30.396 11H9.604L11.384 29.144C11.492 30.264 11.566 31.02 11.67 31.6C11.77 32.162 11.878 32.444 11.994 32.64C12.2791 33.1153 12.6988 33.4954 13.2 33.732C13.404 33.828 13.696 33.908 14.266 33.952C14.854 34 15.612 34 16.736 34H23.26C24.384 34 25.142 34 25.73 33.954C26.3 33.908 26.59 33.828 26.796 33.732C27.2975 33.4949 27.7172 33.1141 28.002 32.638C28.118 32.444 28.226 32.162 28.326 31.598C28.43 31.018 28.506 30.264 28.614 29.146L30.394 11H30.396ZM24.624 15.004C24.8203 15.0204 25.0115 15.0753 25.1866 15.1656C25.3617 15.2559 25.5174 15.3798 25.6446 15.5302C25.7718 15.6806 25.8681 15.8547 25.9281 16.0423C25.9881 16.23 26.0104 16.4277 25.994 16.624L24.994 28.63C24.9487 29.0164 24.7551 29.37 24.4539 29.6163C24.1528 29.8626 23.7678 29.9823 23.3801 29.9502C22.9925 29.918 22.6324 29.7365 22.3761 29.4439C22.1197 29.1513 21.987 28.7706 22.006 28.382L23.006 16.376C23.0221 16.1795 23.0769 15.9881 23.167 15.8127C23.2572 15.6374 23.3811 15.4816 23.5315 15.3541C23.682 15.2267 23.8561 15.1302 24.0439 15.0701C24.2317 15.01 24.4275 14.9876 24.624 15.004ZM15.376 15.004C15.5725 14.9876 15.7703 15.01 15.9581 15.0701C16.1459 15.1302 16.32 15.2267 16.4705 15.3541C16.6209 15.4816 16.7448 15.6374 16.835 15.8127C16.9251 15.9881 16.9799 16.1795 16.996 16.376L17.996 28.38C18.0292 28.7765 17.9034 29.1699 17.6465 29.4737C17.3896 29.7775 17.0225 29.9668 16.626 30C16.2295 30.0332 15.8361 29.9074 15.5323 29.6505C15.2285 29.3936 15.0392 29.0265 15.006 28.63L14.006 16.624C13.9896 16.4277 14.012 16.23 14.0719 16.0423C14.1319 15.8547 14.2282 15.6806 14.3554 15.5302C14.4826 15.3798 14.6383 15.2559 14.8134 15.1656C14.9885 15.0753 15.1797 15.0204 15.376 15.004Z" fill="#EF4A3C"/>
            </svg>
          </div>
        </div>
        <div class="response__employer">
          <div class="response__job-name">
            Младший разработчик в HR Tek
          </div>
          <div class="response__company-name">
            VK
          </div>
        </div>
      </div>
      <div class="response-block__date">
        10.10.2023
      </div>
    </div>

    <div class="response-block">
      <div class="response-block__main-info">
        <div class="response-block__status-frame">
          <div class="response-block__status response-block__status--answered">
            Есть ответ
          </div>
          <div class="response-block__status-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1548 5H26.8452C30.3926 5 31.6826 5.3612 32.9804 6.0566C34.2586 6.7416 35.2618 7.7468 35.9456 9.0276C36.6396 10.328 37 11.6206 37 15.1752V24.8248C37 28.3794 36.6396 29.672 35.9456 30.9724C35.2618 32.2532 34.2586 33.2584 32.9804 33.9434C31.6826 34.6388 30.3926 35 26.8452 35H13.1548C9.6074 35 8.3174 34.6388 7.0196 33.9434C5.7414 33.2584 4.7382 32.2532 4.0546 30.9724C3.3604 29.672 3 28.3794 3 24.8248V15.1752C3 11.6206 3.3604 10.328 4.0544 9.0276C4.7382 7.7468 5.7414 6.7416 7.0196 6.0566C8.3176 5.3612 9.6076 5 13.1548 5ZM6 24.8248V15.1752C6 11.98 6.3116 11.1824 6.6588 10.5202L15.586 19.4474C16.1452 20.0066 16.6276 20.489 17.0572 20.8538C17.5108 21.2388 18.0036 21.5802 18.6092 21.777C19.513 22.0709 20.4868 22.0709 21.3906 21.777C21.9964 21.5802 22.489 21.2388 22.9426 20.8538C23.3724 20.489 23.8548 20.0066 24.4138 19.4474L33.3412 10.52C33.6884 11.182 34 11.9796 34 15.175V24.8246C34 28.1492 33.6626 28.878 33.299 29.5596C32.8942 30.318 32.3184 30.8944 31.5634 31.299C30.8858 31.662 30.1614 31.9998 26.8452 31.9998H13.1548C9.8388 31.9998 9.1142 31.662 8.4368 31.299C7.6816 30.8944 7.106 30.318 6.7012 29.5596C6.3372 28.8782 6 28.1494 6 24.8248ZM26.8452 8H13.1548C10.5026 8 9.5082 8.216 8.8696 8.4884L17.6664 17.2852C18.278 17.8968 18.6738 18.2908 18.9988 18.5668C19.3104 18.8314 19.4572 18.8982 19.5364 18.924C19.8376 19.0219 20.1622 19.0219 20.4634 18.924C20.5426 18.8982 20.6894 18.8314 21.0012 18.5668C21.3262 18.2908 21.7218 17.8968 22.3334 17.2852L31.1304 8.4884C30.4918 8.216 29.4974 8 26.8452 8Z" fill="#31B546"/>
            </svg>
          </div>
        </div>
        <div class="response__employer">
          <div class="response__job-name">
            Младший разработчик в HR Tek
          </div>
          <div class="response__company-name">
            VK
          </div>
        </div>
      </div>
      <div class="response-block__date">
        10.10.2023
      </div>
    </div> --}}
  </div>
</div>
