<div class="footer">
  <div class="column-wrapper">
    <div class="footer__top">
      <div>
        <p class="big-text text-light-title" style="line-height: 10px;">Найди работу</p>
        <p class="big-text text-light-title" style="line-height: 10px;">Своей мечты здесь</p>
      </div>
      <div>
        {{> link-btn (object href="" text="Создать резюме"
        class="footer__btn link-btn_orange"
        class_text="common-text common-text--medium")}}
      </div>
    </div>
    <div class="footer__bottom">
      <p class="header-text header-text--second text-light-title">Hunt & Hire</p>
      <p class="secondary-text text-light-regular">Найти работу своей мечты теперь проще чем когда-либо</p>
    </div>
  </div>
</div>
