<div class="footer">
  <div class="column-wrapper">
    <div class="footer__top">
      <div>
        <p class="footer__text x-large-font">Найди работу</p>
        <p class="footer__text x-large-font">Своей мечты здесь</p>
      </div>
      <div>
        {{> link-btn (object href="" text="Создать резюме"
        class="footer__btn link-btn_orange link-btn_block link-btn_pd-med link-btn_bd-rad-sm
        link-btn_semi-bold")}}
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__text footer__text__company-name">Hunt & Hire</p>
      <p class="footer__text font-weight-100 small-font">Найти работу своей мечты теперь проще чем когда-либо</p>
    </div>
  </div>
</div>
