<div class="footer-content">
  <div class="top-footer">
      <div>
          <p class="footer-text x-large-font">Найди работу</p>
          <p class="footer-text x-large-font">Своей мечты здесь</p>
      </div>
      <div>
          <button class="footer-button">Создать резюме</button>
      </div>
  </div>
  <div class="footer-divider"></div>
  <div class="footer-content">
      <p class="footer-text">Hunt & Hire</p>
      <p class="footer-text font-weight-100 small-font">Найти работу своей мечты теперь проще чем когда-либо</p>
  </div>
</div>
