{{> header_left (object links=(array
(object href="#" text="О нас")
(object href="#" text="Как это работает")
(object href="/" text="Вакансии")
))}}

<div class="navbar__right">
  <div class="navbar__item">
    {{> link-btn (object href="/app_login" text="Уже есть аккаунт"
    class="navbar__item__btn link-btn-blue text-dodger-blue"
    data=(array (object key="type" value="login")))}}
  </div>
  <div class="navbar__item">
    {{> link-btn (object href="/app_reg" text="Зарегистрироваться"
    class="navbar__item__btn link-btn-blue--bg text-light-title"
    data=(array (object key="type" value="reg")))}}
  </div>
</div>
