<section class="navbar-section">
  <div class="column-wrapper">
    <div class="navbar">
      <div class="navbar-logo">
        <a href="#">
          <svg width="74" height="28" viewBox="0 0 74 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4941 11.5664L18.668 16.3125H5.88867L6.71484 11.5664H19.4941ZM10.5117 1.40625L6.06445 27H0.0527344L4.48242 1.40625H10.5117ZM25.2773 1.40625L20.8301 27H14.8359L19.2656 1.40625H25.2773ZM29.9883 13.5352L35.8418 10.125C36.334 9.82031 36.7734 9.45703 37.1602 9.03516C37.5586 8.60156 37.793 8.08008 37.8633 7.4707C37.9219 6.97852 37.8223 6.54492 37.5645 6.16992C37.3184 5.79492 36.9316 5.60156 36.4043 5.58984C35.9473 5.57812 35.543 5.68945 35.1914 5.92383C34.8516 6.14648 34.5703 6.44531 34.3477 6.82031C34.125 7.18359 33.9785 7.57031 33.9082 7.98047C33.8145 8.61328 33.8906 9.23438 34.1367 9.84375C34.3828 10.4531 34.6992 11.0391 35.0859 11.6016C35.4727 12.1523 35.8301 12.668 36.1582 13.1484L45.7383 27H39.6035L31.834 15.8555C31.3418 15.1055 30.8672 14.3086 30.4102 13.4648C29.9531 12.6211 29.5898 11.748 29.3203 10.8457C29.0508 9.94336 28.9512 9.02344 29.0215 8.08594C29.1152 6.69141 29.5078 5.46094 30.1992 4.39453C30.9023 3.31641 31.8164 2.47852 32.9414 1.88086C34.0664 1.2832 35.332 1.00195 36.7383 1.03711C37.8633 1.06055 38.8828 1.33008 39.7969 1.8457C40.7109 2.36133 41.4316 3.07031 41.959 3.97266C42.4863 4.86328 42.7207 5.88867 42.6621 7.04883C42.6152 7.89258 42.4043 8.67187 42.0293 9.38672C41.666 10.1016 41.1914 10.752 40.6055 11.3379C40.0312 11.9121 39.4102 12.4219 38.7422 12.8672L32.3438 16.9629C32.0859 17.1973 31.8516 17.4785 31.6406 17.8066C31.4414 18.123 31.2773 18.4629 31.1484 18.8262C31.0312 19.1777 30.9492 19.5234 30.9023 19.8633C30.8438 20.3438 30.873 20.8066 30.9902 21.252C31.1191 21.6855 31.3418 22.0488 31.6582 22.3418C31.9863 22.623 32.4141 22.7812 32.9414 22.8164C34.0898 22.875 35.1504 22.6582 36.123 22.166C37.1074 21.6738 37.9688 21 38.707 20.1445C39.457 19.2773 40.0664 18.3281 40.5352 17.2969C41.0039 16.2539 41.2969 15.2227 41.4141 14.2031L46.1953 14.1855C46.1133 15.4863 45.873 16.7812 45.4746 18.0703C45.0762 19.3594 44.4961 20.5547 43.7344 21.6562C42.9844 22.7461 42.0352 23.6602 40.8867 24.3984C40.7695 24.4688 40.6465 24.5391 40.5176 24.6094C40.4004 24.668 40.2832 24.7383 40.166 24.8203C38.9004 25.582 37.6406 26.2031 36.3867 26.6836C35.1328 27.1641 33.75 27.3867 32.2383 27.3516C30.8438 27.3281 29.5723 27.0352 28.4238 26.4727C27.2871 25.8984 26.3965 25.0898 25.752 24.0469C25.1074 22.9922 24.8262 21.7266 24.9082 20.25C24.9668 19.2188 25.2422 18.293 25.7344 17.4727C26.2383 16.6523 26.8652 15.9199 27.6152 15.2754C28.377 14.6309 29.168 14.0508 29.9883 13.5352ZM67.5879 11.5664L66.7617 16.3125H53.9824L54.8086 11.5664H67.5879ZM58.6055 1.40625L54.1582 27H48.1465L52.5762 1.40625H58.6055ZM73.3711 1.40625L68.9238 27H62.9297L67.3594 1.40625H73.3711Z"
              fill="#0496FF" />
          </svg>
        </a>
      </div>
      <div class="navbar-items-left">
        <div class="navbar-item">
          <a href="#">О нас</a>
        </div>
        <div class="navbar-item">
          <a href="#">Как это работает</a>
        </div>
        <div class="navbar-item">
          <a href="#">Вакансии</a>
        </div>
      </div>
      <div class="navbar-items-right">
        <div class="navbar-item">
          <a href="#" class="navbar-btn btn">
            Уже есть аккаунт
          </a>
        </div>
        <div class="navbar-item">
          <a href="#" class="navbar-btn btn-filled">
            Зарегистрироваться
          </a>
        </div>
        <div class="navbar-item">
          <a href="#" class="navbar-btn-svg">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.799805 16.6V14.8H1.9998V8.79999C1.9998 7.34999 2.44564 6.07499 3.3373 4.97499C4.22897 3.87499 5.38314 3.19166 6.7998 2.92499V1.59999C6.7998 1.26666 6.91647 0.983327 7.1498 0.749994C7.38314 0.516661 7.66647 0.399994 7.9998 0.399994C8.33314 0.399994 8.61647 0.516661 8.8498 0.749994C9.08314 0.983327 9.1998 1.26666 9.1998 1.59999V2.92499C10.6165 3.19166 11.7706 3.87499 12.6623 4.97499C13.554 6.07499 13.9998 7.34999 13.9998 8.79999V14.8H15.1998V16.6H0.799805ZM7.9945 19.6C7.49804 19.6 7.0748 19.4237 6.7248 19.0712C6.3748 18.7187 6.1998 18.295 6.1998 17.8H9.7998C9.7998 18.3 9.62304 18.725 9.2695 19.075C8.91595 19.425 8.49095 19.6 7.9945 19.6ZM3.7998 14.8H12.1998V8.79999C12.1998 7.63333 11.7915 6.64166 10.9748 5.82499C10.1581 5.00833 9.16647 4.59999 7.9998 4.59999C6.83314 4.59999 5.84147 5.00833 5.0248 5.82499C4.20814 6.64166 3.7998 7.63333 3.7998 8.79999V14.8Z"
                fill="#0496FF" />
            </svg>
          </a>
        </div>
        <div class="navbar-item">
          <a href="#" class="navbar-btn-svg">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_807_1365" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_807_1365)">
                <path
                  d="M11.9999 20.4L10.7499 19.275C9.08324 17.7917 7.70824 16.5208 6.6249 15.4625C5.54157 14.4042 4.6874 13.4625 4.0624 12.6375C3.4374 11.8125 3.00407 11.0583 2.7624 10.375C2.52074 9.69167 2.3999 8.99167 2.3999 8.275C2.3999 6.79167 2.90824 5.54167 3.9249 4.525C4.94157 3.50833 6.19157 3 7.6749 3C8.49157 3 9.28324 3.175 10.0499 3.525C10.8166 3.875 11.4666 4.36667 11.9999 5C12.5332 4.36667 13.1832 3.875 13.9499 3.525C14.7166 3.175 15.5082 3 16.3249 3C17.8082 3 19.0582 3.50833 20.0749 4.525C21.0916 5.54167 21.5999 6.79167 21.5999 8.275C21.5999 8.99167 21.4832 9.68333 21.2499 10.35C21.0166 11.0167 20.5874 11.7583 19.9624 12.575C19.3374 13.3917 18.4791 14.3375 17.3874 15.4125C16.2957 16.4875 14.8999 17.7917 13.1999 19.325L11.9999 20.4ZM11.9999 17.975C13.5499 16.5917 14.8249 15.4125 15.8249 14.4375C16.8249 13.4625 17.6207 12.6125 18.2124 11.8875C18.8041 11.1625 19.2166 10.5167 19.4499 9.95C19.6832 9.38333 19.7999 8.825 19.7999 8.275C19.7999 7.29167 19.4666 6.46667 18.7999 5.8C18.1332 5.13333 17.3082 4.8 16.3249 4.8C15.7416 4.8 15.1957 4.92083 14.6874 5.1625C14.1791 5.40417 13.7416 5.74167 13.3749 6.175L12.4999 7.2H11.4999L10.6249 6.175C10.2582 5.74167 9.8124 5.40417 9.2874 5.1625C8.7624 4.92083 8.2249 4.8 7.6749 4.8C6.69157 4.8 5.86657 5.13333 5.1999 5.8C4.53324 6.46667 4.1999 7.29167 4.1999 8.275C4.1999 8.825 4.30824 9.37083 4.5249 9.9125C4.74157 10.4542 5.1374 11.0833 5.7124 11.8C6.2874 12.5167 7.07907 13.3667 8.0874 14.35C9.09574 15.3333 10.3999 16.5417 11.9999 17.975Z"
                  fill="#0496FF" />
              </g>
            </svg>
          </a>
        </div>
        <div class="navbar-item">
          <a href="#" class="navbar-btn-svg">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_807_1357" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_807_1357)">
                <path
                  d="M5.9249 16.875C6.8249 16.2417 7.7874 15.7708 8.8124 15.4625C9.8374 15.1542 10.8999 15 11.9999 15C13.0999 15 14.1624 15.1542 15.1874 15.4625C16.2124 15.7708 17.1749 16.2417 18.0749 16.875C18.6582 16.1917 19.0916 15.4333 19.3749 14.6C19.6582 13.7667 19.7999 12.9 19.7999 12C19.7999 9.83875 19.0397 7.99843 17.5192 6.47905C15.9987 4.95968 14.157 4.2 11.9942 4.2C9.83132 4.2 7.99157 4.95968 6.4749 6.47905C4.95824 7.99843 4.1999 9.83875 4.1999 12C4.1999 12.9 4.34157 13.7667 4.6249 14.6C4.90824 15.4333 5.34157 16.1917 5.9249 16.875ZM11.9999 13.8C10.9999 13.8 10.1499 13.45 9.4499 12.75C8.7499 12.05 8.3999 11.2 8.3999 10.2C8.3999 9.2 8.7499 8.35 9.4499 7.65C10.1499 6.95 10.9999 6.6 11.9999 6.6C12.9999 6.6 13.8499 6.95 14.5499 7.65C15.2499 8.35 15.5999 9.2 15.5999 10.2C15.5999 11.2 15.2499 12.05 14.5499 12.75C13.8499 13.45 12.9999 13.8 11.9999 13.8ZM12.0068 21.6C10.6855 21.6 9.44157 21.35 8.2749 20.85C7.10824 20.35 6.0874 19.6625 5.2124 18.7875C4.3374 17.9125 3.6499 16.892 3.1499 15.7261C2.6499 14.5601 2.3999 13.3142 2.3999 11.9886C2.3999 10.6629 2.6499 9.42084 3.1499 8.2625C3.6499 7.10417 4.3374 6.0875 5.2124 5.2125C6.0874 4.3375 7.10789 3.65 8.27385 3.15C9.43984 2.65 10.6857 2.4 12.0114 2.4C13.3371 2.4 14.5791 2.65 15.7374 3.15C16.8957 3.65 17.9124 4.3375 18.7874 5.2125C19.6624 6.0875 20.3499 7.10603 20.8499 8.2681C21.3499 9.43019 21.5999 10.6719 21.5999 11.9931C21.5999 13.3144 21.3499 14.5583 20.8499 15.725C20.3499 16.8917 19.6624 17.9125 18.7874 18.7875C17.9124 19.6625 16.8939 20.35 15.7318 20.85C14.5697 21.35 13.3281 21.6 12.0068 21.6ZM11.9999 19.8C12.8666 19.8 13.6999 19.6625 14.4999 19.3875C15.2999 19.1125 16.0499 18.7083 16.7499 18.175C16.0332 17.725 15.2749 17.3833 14.4749 17.15C13.6749 16.9167 12.8499 16.8 11.9999 16.8C11.1499 16.8 10.3207 16.9125 9.5124 17.1375C8.70407 17.3625 7.9499 17.7083 7.2499 18.175C7.9499 18.7083 8.6999 19.1125 9.4999 19.3875C10.2999 19.6625 11.1332 19.8 11.9999 19.8ZM11.9999 12C12.4999 12 12.9249 11.825 13.2749 11.475C13.6249 11.125 13.7999 10.7 13.7999 10.2C13.7999 9.7 13.6249 9.275 13.2749 8.925C12.9249 8.575 12.4999 8.4 11.9999 8.4C11.4999 8.4 11.0749 8.575 10.7249 8.925C10.3749 9.275 10.1999 9.7 10.1999 10.2C10.1999 10.7 10.3749 11.125 10.7249 11.475C11.0749 11.825 11.4999 12 11.9999 12Z"
                  fill="#0496FF" />
              </g>
            </svg>

          </a>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>
<section class="search">

</section>
