<div class="pag">
    <div class="pag__item">
        <button class="js-pag-prev pag__item__btn pag__item__btn_left link-btn link-svg_blue--bg link-btn-blue text-dodger-blue">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <mask id="mask0_2549_1377" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25"
                    height="24">
                    <rect x="0.5" width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2549_1377)">
                    <path d="M14.5 18L8.5 12L14.5 6L15.9 7.4L11.3 12L15.9 16.6L14.5 18Z" fill="#0496FF" />
                </g>
            </svg>
        </button>
    </div>
    <div class="page__item">
        <button class="js-pag-prev pag__item__btn link-btn link-svg_blue--bg link-btn-blue text-dodger-blue">
            {{qObj.page_num}}
        </button>
    </div>
    <div class="pag__item">
        <button class="js-pag-next pag__item__btn pag__item__btn_right link-btn link-svg_blue--bg link-btn-blue text-dodger-blue">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <mask id="mask0_2549_1411" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25"
                    height="24">
                    <rect x="0.5" width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2549_1411)">
                    <path d="M13.1 12L8.5 7.4L9.9 6L15.9 12L9.9 18L8.5 16.6L13.1 12Z" fill="#0496FF" />
                </g>
            </svg>
        </button>
    </div>
</div>
