<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/main.css">
  <link rel="icon" href="../../public/images/favicon.ico" type="image/png">
  <title>Hunt And Hire - Сервис по поиску работы и найма сотрудников</title>
</head>

<body>
  <header>
  </header>
  <main>
  </main>
  <footer>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="../../views/partials.precompiled.js"></script>
  <script src="../../views/templates.precompiled.js"></script>
  <script src="../../public/js/index.js" type="module"></script>
</body>

</html>
