<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/body.css">
  <title>{{ page_title }}</title>
</head>

<body>
  <header>
    {{> header}}
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
    {{> footer}}
  </footer>

  <script src="../../node_modules/handlebars/dist/handlebars.runtime.js" type="module"></script>
  <script src="../../views/templates.precompiled.js"></script>
  <script src="../../public/js/index.js" type="module"></script>
</body>

</html>
