<div class="profile__settings">
  <div class="setting-inputes-block">
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        ФИО
      </div>
      <div class="settings-inpute__field">
        Иванов Иван Иванович
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Почта
      </div>
      <div class="settings-inpute__field">
        example@example.com
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Пароль
      </div>
      <div class="settings-inpute__field">
        ***************************
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
  </div>
  <div class="setting__btn">
    <div class="setting__delete-btn">
      Удалить аккаунт
    </div>
  </div>
</div>
