<div class="resumes">
  <div class="resumes__main-text">
    Мои резюме
  </div>
  <div class="resumes__blocks">
    <div class="resumes__main-blocks">
      <div class="resume">
        <div class="resume__job-type">
          <div class="resume__job-name">Web-разработчик</div>
          <div class="resume__status resume__status--avaliable">Доступно для просмотра</div>
        </div>
        <div class="resume__statistic">
          <div class="resume__statistic-text">Статистика</div>
          <div class="resume__statistic-more">
            <div class="resume__statistic-more-text">0 просмотров</div>
            <div class="resume__statistic-line"></div>
            <div class="resume__statistic-more-text">0 ответов</div>
          </div>
        </div>
        <div class="resume__btns">
          <div
            class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary">
            Редактировать
          </div>
          <div
            class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-blue resume__btns-text resume__btns-text--secondary">
            Скрыть резюме
          </div>
          <div class="link-btn link-btn_blue-without-bd">
            Посмотреть вакансии
          </div>
        </div>
      </div>
      <div class="resume">
        <div class="resume__job-type">
          <div class="resume__job-name">Web-разработчик</div>
          <div class="resume__status resume__status--hidden">Скрыто для просмотра</div>
        </div>
        <div class="resume__statistic">
          <div class="resume__statistic-text">Статистика</div>
          <div class="resume__statistic-more">
            <div class="resume__statistic-more-text">0 просмотров</div>
            <div class="resume__statistic-line"></div>
            <div class="resume__statistic-more-text">0 ответов</div>
          </div>
        </div>
        <div class="resume__btns">
          <div
            class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary">
            Редактировать
          </div>
          <div
            class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-blue resume__btns-text resume__btns-text--secondary">
            Открыть для просмотра
          </div>
          <div class="link-btn link-btn_blue-without-bd">
            Посмотреть вакансии
          </div>
        </div>
      </div>
    </div>
    <div class="resume__form-create">
      <div
        class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary">
        Создать новое резюме
      </div>
      <div class="resumes__looking-work">
        <div class="link-btn primary-btn link-btn-bd-rad-10 link-btn_green resume__btns-text--green">
          Я ищу работу
        </div>
        <img class="link-btn cursor-img" src="../img/chevron_down_24.png" alt="cursor">
      </div>
    </div>
  </div>
</div>
