<div class="double-input">
    <div class="input__title {{class_title}}">{{obj.title}}</div>
    <div class="dobule-input__inputes">
        <input class="input__field" placeholder="{{ obj.placeholderFirst }}">
        <input class="input__field" placeholder="{{ obj.placeholderSecond }}">
    </div>
</div>
