@import url("__header/profile__header.css");
@import url("__settings/profile__settings.css");
@import url("__responses/profile__responses.css");
@import url("__resumes/profile__resumes.css");
@import url("__vacancies/profile__vacancies.css");

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
