@font-face {
  font-family: 'Acumin';
  src: url('../fonts/Acumin\ Variable\ Concept.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype');
}

:root {
  --main-background-grey: #f7f7f7;
  --button-color-primary-default: #0496ff;
  --default-text-prussian-blue: #042439;
  --footer-button-xanthous-orange: #ffbc42;
  --main-error: #ef4a3c;
}

.dodger-blue {
  font-family: 'Acumin', sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: var(--button-color-primary-default);
}

.default-text {
  font-family: 'Acumin', sans-serif;
  font-weight: bold;
  color: var(--default-text-prussian-blue);
}

.reg-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.footer-text {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: 'Acumin', sans-serif;
  font-weight: bold;
  color: var(--main-background-grey);
}

.form-block {
  display: flex;
  justify-content: center;
}

.reg-form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  border-radius: 30px;
  background: var(--main-grey-blue, rgba(210, 224, 234, 0.37));
  margin: 10vh auto;
}

footer {
  background-color: var(--default-text-prussian-blue);
  padding: 20px;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transparent-button {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Acumin', sans-serif;
  font-weight: bold;
  background-color: transparent;
  color: var(--button-color-primary-default);
  border: 2px solid var(--button-color-primary-default);
  padding: 10px 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.transparent-button:hover {
  background-color: var(--button-color-primary-default);
  color: var(--main-background-grey);
}

.transparent-button:active {
  background-color: transparent;
  color: var(--button-color-primary-default);
}

.fully-button {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Acumin', sans-serif;
  font-weight: bold;
  background-color: var(--button-color-primary-default);
  color: var(--main-background-grey);
  border: 2px solid var(--button-color-primary-default);
  padding: 10px 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
}

.fully-button:hover {
  background-color: transparent;
  color: var(--button-color-primary-default);
}

.fully-button:active {
  background-color: var(--button-color-primary-default);
  color: var(--main-background-grey);
}

.footer-button {
  font-family: 'Acumin', sans-serif;
  font-weight: bold;
  background-color: var(--footer-button-xanthous-orange);
  color: var(--default-text-prussian-blue);
  border: 2px solid var(--footer-button-xanthous-orange);
  padding: 10px 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.footer-button:hover {
  background-color: #fea705;
  border-color: #fea705;
}

.footer-button:active {
  background-color: #f8cd7e;
  border-color: #f8cd7e;
}

.footer-divider {
  border-top: 1px solid var(--main-background-grey);
  margin: 5px 0;
}

.input {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.input-in {
  display: block;
  padding: 5px 10px;
  align-items: center;
  flex: 1 0 0;
  border-radius: 12px;
  border: 0;
  background: var(--main-background-grey);
  font-size: 18px;
  outline: none;
  color: #5e5e5e;
}

.input-in-error {
  background-color: rgba(239, 74, 60, 0.15);
  border: 2px solid var(--main-error);
}

.form-error {
  color: var(--main-error);
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.input-in:focus {
  background-color: #e8e8e8;
}

.input-error-msg {
  margin-top: 5px;
  padding: 0 10px;
  color: var(--main-error);
}

.remember-label {
  display: flex;
  gap: 7px;
}

.remember-checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ms-10 {
  margin-left: 10px;
}

.me-10 {
  margin-right: 10px;
}

.form-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.elipse-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--button-color-primary-default);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 25px;
  overflow: hidden;
}

.elipse-button-right {
  justify-content: flex-end;
}

.circle {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: var(--main-background-grey);
  border-radius: 50%;
}

.x-large-font {
  font-size: x-large;
}

.d-flex {
  display: flex;
}

.small-font {
  font-size: small;
}

.side-m-0 {
  margin-left: 0;
  margin-right: 0;
}

.font-weight-100 {
  font-weight: 100;
}
