@import url("text/text.css");

@import url("components/404.css");
@import url("components/drop-content.css");
@import url("components/footer.css");
@import url("components/form.css");
@import url("components/header.css");
@import url("components/input-checkbox.css");
@import url("components/input-radio.css");
@import url("components/input.css");
@import url("components/link-btn.css");
@import url("components/response.css");
@import url("components/resume.css");
@import url("components/vacancie.css");

@import url("components/profile/profile.css");

@import url("components/resume/res.css");

@import url("components/vacs/vacs.css");

@import url("components/view/view.css");

.x-large-font {
  font-size: x-large;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.small-font {
  font-size: small;
}

.side-m-0 {
  margin-left: 0;
  margin-right: 0;
}

.font-weight-100 {
  font-weight: 100;
}

.mt-10 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ms-10 {
  margin-left: 10px;
}

.me-10 {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
