@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Acumin';
  src: url('../fonts/Acumin\ Variable\ Concept.ttf');
}
