@import url("common.css");
@import url("vars.css");

@import url("poll/__iframe.css");

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

footer {
  width: 100%;
}

@media (min-width: 0) {
  .column-wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 1260px) {
  .column-wrapper {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

@media (min-width: 1440px) {
  .column-wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1620px) {
  .column-wrapper {
    padding-left: 13vw;
    padding-right: 13vw;
  }
}

@media (min-width: 1800px) {
  .column-wrapper {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

@media (min-width: 1980px) {
  .column-wrapper {
    padding-left: 17vw;
    padding-right: 17vw;
  }
}

@media (min-width: 2160px) {
  .column-wrapper {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media (min-width: 2340px) {
  .column-wrapper {
    padding-left: 23vw;
    padding-right: 23vw;
  }
}

@media (min-width: 2520px) {
  .column-wrapper {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

@media (min-width: 2700px) {
  .column-wrapper {
    padding-left: 27vw;
    padding-right: 27vw;
  }
}

@media (min-width: 2880px) {
  .column-wrapper {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}

@media (min-width: 3600px) {
  .column-wrapper {
    padding-left: 33vw;
    padding-right: 33vw;
  }
}

@media (min-width: 4096px) {
  .column-wrapper {
    padding-left: 35vw;
    padding-right: 35vw;
  }
}

@media (min-width: 5000px) {
  .column-wrapper {
    padding-left: 37vw;
    padding-right: 37vw;
  }
}
