@import url("common.css");
@import url("vars.css");

@import url("poll/__iframe.css");

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

footer {
  width: 100%;
}

@media (min-width: 0) {
  .column-wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 1440px) {
  .column-wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1800px) {
  .column-wrapper {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

@media (min-width: 2160px) {
  .column-wrapper {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media (min-width: 2520px) {
  .column-wrapper {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

@media (min-width: 2880px) {
  .column-wrapper {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}
