@import url("common.css");
@import url("vars.css");

@import url("poll/__iframe.css");

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

footer {
  width: 100%;
}

.column-wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
}
