@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}

* {
  font-family: "Roboto", sans-serif;
  color: #5d5d5d;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.column-wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
}

a {
  color: #333333;
  text-decoration: none;
}

/* Components */

.comp-input-text {
  box-sizing: border-box;
  display: inline-block;
  color: #a6a6a6;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  padding: 6px 10px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
}

.comp-input-text:focus {
  color: #333333;
  border-color: #333333;
  outline-color: #333333;
}

.btn,
.btn-filled {
  color: #0496ff;
  border: 1px #0496ff solid;
  padding: 10px 15px 10px 15px;
  background-color: #ffffff;
  border-radius: 5px;
}

.btn-filled {
  color: #ffffff;
  background-color: #0496ff;
}

.btn:hover,
.btn-filled:hover {
  cursor: pointer;
}

/* overlay-navbar */

/* .overlay-navbar {
  display: flex;
}

.overlay-navbar-item {
  margin-right: 30px;
} */

/* navbar */

.navbar-section {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: -2px 14px 39px -28px #948f8f;
}

.navbar,
.navbar-items-left,
.navbar-items-right {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  font-weight: 500;
}

.navbar-items-right {
  justify-content: flex-end;
}

.navbar-items-left {
  .navbar-item {
    margin-right: 30px;
  }

  .navbar-item:hover a {
    color: #0496ff;
  }

  .navbar-item a {
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
  }

  .navbar-item-active a {
    border-bottom: 2px solid #ffbc42;
  }

  .navbar-item-active a {
    color: #0496ff;
  }
}

.navbar-items-right {
  .navbar-item {
    margin-left: 30px;
  }
}

/* vac-block */

.vac-res-desc {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  color: #333333;
}

.vac-res-desc span {
  color: #333333;
}

.vac-res {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Filters */

.filters {
  margin-right: 40px;
}

.filters-item {
  margin-bottom: 25px;
}

.filter-name {
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.filter-list {
  padding: 0;
  list-style-type: none;
}

.filter-list-item {
  margin-bottom: 10px;
}

.filter-list-item input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  border: 1px solid #0496ff;
  border-radius: 4px;
  padding: 3px;
  margin-right: 10px;
}

.custom-checkbox svg {
  visibility: hidden;
}

.filter-list-item input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: #0496ff;
}

.filter-list-item input[type="checkbox"]:checked ~ .custom-checkbox svg {
  visibility: visible;
}

.filter-list-item input[type="radio"] {
  display: none;
}

.custom-radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #b0b0b0;
  margin-right: 10px;
}

.filter-list-item input[type="radio"]:checked ~ .custom-radio {
  border: 6px solid #0496ff;
}

.filter-list-item-label {
  display: flex;
}

/* vacancies block */

.vac-list-block {
  max-width: 80%;
}

/* vacancies params */

.vac-list-params {
  display: flex;
  justify-content: space-between;
}

.vac-list-sorted button {
  font-weight: 500;
  color: #0496ff;
  background-color: transparent;
  border: none;
  outline: none;
}

.vac-list-view {
  display: flex;
}

.vac-list-view button {
  display: block;
}

.vac-list-view button:nth-child(1) {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.vac-list-view button:nth-child(2) {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

/* vac list */

.vacs-list {
  list-style-type: none;
  padding: 0;
}

/* vacancy */

.vac {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px -30px gray;
  background-color: #eaeff2;
  margin-bottom: 40px;
}

.vac-desc-main {
  display: flex;
}

.vac-company-logo {
  margin-right: 25px;
}

.vac-company-name {
  margin-top: 0;
  color: #333333;
}

.vac-desc-list {
  display: flex;
}

.vac-desc-list div {
  font-weight: 200;
  margin-right: 30px;
}

.vac-name {
  color: #333333;
}

.vac-desc-text-prev {
  margin-bottom: 35px;
}

.vac-btns {
  display: flex;
}

.vac-btn-respond {
  margin-right: 30px;
}

.vac-btn-respond button {
  height: 100%;
}

.vac-btn-fav button {
  padding: 10px 10px 6px 10px;
  background-color: transparent;
}

/* --------------------- */

.logout-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
