:root {

  /* TEXT COLORS */
  --text-dark-title: #333333;
  --text-dark-regular: #5E5E5E;
  --text-dark-link: #006BA6;
  --text-light-title: #;
  --text-light-regular: #;
  --text-form-inactive: #;
  --text-form-active: #;
  /* END TEXT COLORS */

  /* CARD BACK COLORS */
  --card-back-default: rgba(210, 224, 234, 0.37);
  --card-back-hover: rgba(4, 150, 255, 0.11);
  /* END CARD BACK COLORS */
  
  /* MAIN COLORS */
  --main-bice-blue: #006BA6;
  --main-dodger-blue: #0496FF;
  --main-prussian-blue: #042439;
  --main-xanthous: #FFBC42;
  --main-main-green: #CDF7F6;
  --main-background-grey: #F7F7F7;
  --main-error-red: #EF4A3C;
  --main-error-back: #EF4A3C;
  --main--eror-white: #FFFFFF;
  --main-error-grey: #B0B0B0;
  /* END MAIN COLORS */

  /* MONO BLUE COLORS */
  --mono-blue-hover: rgba(4, 151, 255, 0.08);
  --mono-blue-active: rgba(50, 133, 191, 0.2);
  --mono-blue-dark-blue: #0162A6;
  --mono-blue-blue-ws: #43B1FF;
  --mono-blue-faded-blue: #43B1FF;
  /* END MONO BLUE COLORS */
}
