.btn,
.btn-filled {
  color: #0496ff;
  border: 1px #0496ff solid;
  padding: 10px 15px 10px 15px;
  background-color: #ffffff;
  border-radius: 5px;
}

.btn-filled {
  color: #ffffff;
  background-color: #0496ff;
}

.btn:hover,
.btn-filled:hover {
  cursor: pointer;
}

