.footer {
  background-color: var(--main-prussian-blue);
  padding-top: 15px;
  padding-bottom: 20px;
}

.footer__top {
  border-bottom: 1px solid var(--main-background-grey);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

@media (min-width: 0) {
  .footer__top {
    display: flex;
    flex-direction: column;
    gap: 15px
  }
  .footer-create-btn {
    display: none;
  }
}

@media (min-width: 1080px) {
  .footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-create-btn {
    display: block;
  }
}
