.navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: -2px 14px 39px -28px #948f8f;
  z-index: 10;
}

.navbar,
.navbar__left,
.navbar__right {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  font-weight: 500;
}

.navbar__right {
  justify-content: flex-end;
  gap: 15px;
}

.navbar-mobile {
  justify-content: flex-end;
  gap: 15px;
}

@media (min-width: 160px) {
  .header-left-dropdown {
    display: none;
  }
  .navbar__right {
    display: none;
  }
  .navbar__right-dropdown {
    display: flex;
  }
  .navbar-mobile {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .header-left-dropdown {
    display: flex;
  }
  .navbar__right {
    display: flex;
  }
  .navbar__right-dropdown {
    display: none;
  }
  .navbar-mobile {
    display: none;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar__search-field {
  display: inline-flex;
  height: 42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.search__variants {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  cursor: pointer;

  border-radius: 10px 0px 0px 10px;
  border-top: 0.5px solid var(--background-disabled, #D2D2D2);
  border-bottom: 0.5px solid var(--background-disabled, #D2D2D2);
  border-left: 0.5px solid var(--background-disabled, #D2D2D2);
  background-color: var(--card-back-default);
}


.search__form {
  display: flex;
  align-self: stretch;
}

.search__input {
  box-sizing: border-box;
  display: flex;  
  padding: 5px 10px;
  align-items: center;
  align-self: stretch;
  color: var(--text-dark-title);

  border: 0.5px solid var(--background-disabled, #D2D2D2);
}

@media (min-width: 0px) {
  .search__input {
    width: 25vw;
  }
}

@media (min-width: 1260px) {
  .search__input {
    width: 32vw;
  }
}

@media (min-width: 1440px) {
  .search__input {
    width: 28vw;
  }
}

@media (min-width: 2520px) {
  .search__input {
    width: 17vw;
  }
}

@media (min-width: 2880px) {
  .search__input {
    width: 14vw;   
  }
}

@media (min-width: 4096px) {
  .search__input {
    width: 12vw;
  }
}

@media (min-width: 5000px) {
  .search__input {
    width: 10vw;
  }
}

.search__input:focus {
  outline: none; 
  border: 1px solid #848484;
}

.search__srch-btn {
  outline: none;
  border: none;

  display: flex;
  width: 44px;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  cursor: pointer;

  border-radius: 0px 10px 10px 0px;
  background: var(--main-dodger-blue);
}
