.navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: -2px 14px 39px -28px #948f8f;
  z-index: 10;
}

.navbar,
.navbar__left,
.navbar__right {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  font-weight: 500;
}

.navbar__right {
  justify-content: flex-end;
}

.navbar__left {
  .navbar__item {
    margin-right: 20px;
  }
}

.navbar__right {
  .navbar__item {
    margin-left: 20px;
  }
}
