.input {
  width: 100%;
}

.input__title {
  margin: 0;
}

.input__field {
  width:100%;
  display: block;
  padding: 5px 10px;
  align-items: center;
  flex: 1 0 0;
  border-radius: 12px;
  border: 0;
  outline: none;
}

.input__field:focus {
  background-color: #e8e8e8;
}

.input_error .input__field {
  background-color: rgba(239, 74, 60, 0.15);
  border: 2px solid var(--main-error-red);
}

.input__error-msg {
  margin-top: 5px;
  padding: 0 10px;
  color: var(--text-error-regular);
}

.double-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.dobule-input__inputes {
  display: flex;
  align-items: flex-end;
  gap: 18px;
}
