.input_radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_radio__title {
  margin: 0;
}

.input_radio__input {
  display: none;
}

.input_radio__div {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #b0b0b0;
  margin-right: 10px;
  flex-shrink: 0;
}

.input_radio__input:checked~.input_radio__div {
  border: 6px solid #0496ff;
}

.input_error .input_radio__div {
  background-color: rgba(239, 74, 60, 0.15);
  border: 2px solid var(--main-error);
}
