.link-btn {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
}

.link-btn__text {
  display: block;
  margin: auto;
}

/* transp */

.link-btn_transp {
  color: #042439;
}

.link-btn_transp:hover {
  color: #018AED;
}

.link-btn_transp:active {
  color: #0284E2;
}

/* blue */

.link-btn_blue {
  background-color: #0496FF;
}

.link-btn_blue .link-btn__text {
  color: #EBEDEB;
}

.link-btn_blue:hover {
  background-color: #018AED;
}

.link-btn_blue:active {
  background-color: #0284E2;
}

/* grey */



/* transp-box-blue */

.link-btn_transp-box-blue {
  background-color: transparent;
  border: 1px solid #0496FF;
}

.link-btn_transp-box-blue .link-btn__text {
  color: #0496FF;
}

.link-btn_transp-box-blue:hover {
  background-color: #F2F2F2;
}

.link-btn_transp-box-blue:active {
  background-color: #E8E8E8;
}

/* transp_green */

.link-btn_transp-box-green {
  background-color: transparent;
  border: 1px solid #31B546;
  color: #31B546;
}

.link-btn_transp-box-green:hover {
  background-color: #F2F2F2;
}

.link-btn_transp-box-green:active {
  background-color: #E8E8E8;
}

/* transp_orange */

.link-btn_transp-box-orange {
  background-color: transparent;
  border: 1px solid #FFBC42;
  color: #FFBC42;
}

.link-btn_transp-box-orange:hover {
  background-color: #F2F2F2;
}

.link-btn_transp-box-orange:active {
  background-color: #E8E8E8;
}

/* orange */

.link-btn_orange {
  background-color: #FFBC42;
}

.link-btn_orange .link-btn__text {
  color: #063452;
}

.link-btn_orange:hover {
  background-color: #E3A93F;
}

.link-btn_orange:active {
  background-color: #CD9939;
}

/* text */

.link-btn_text_blue {
  color:#0496FF;
}

.link-btn_text_red {
  color: #EF4A3C;
}

.link-btn_text_red:hover {
  color:#D6463A;
}

.link-btn_text_red:active {
  color:#BB3E33;
}

/* params */

.link-btn_bd-rad-sm {
  border-radius: 7px;
}

.link-btn_bd-rad-med {
  border-radius: 12px;
}

.link-btn_block {
  display: block;
}

.link-btn_pd-sm {
  padding: 5px 7px;
}

.link-btn_pd-med {
  padding: 10px 14px;
}

.link-btn_semi-bold {
  font-weight: 600;
  border-width: 2px;
}
