.resume {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 30px;
    background: var(--card-back-default);
}

.resume__job-type {
    display: flex;
    height: 26px;
    align-items: center;
    gap: 30px;
}

.resume__job-name {
    color: var(--text-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.resume__status {
    display: flex;
    height: 25px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.resume__status--avaliable {
    color: var(--greeen-main);
    border: 2px solid var(--greeen-main);
}

.resume__status--hidden {
    color: var(--orange-main);
    border: 2px solid var(--orange-main);
}

.resume__statistic {
    display: flex;
    width: 234px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.resume__statistic-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.resume__statistic-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    gap: 20px;
}

.resume__statistic-more-text {
    color: var(--text-filled);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.resume__statistic-line {
    height: 100%;
    width: 1px;
    background-color: var(--text-filled);
}

.resume__btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.resume__btns-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.resume__btns-text--primary {
    color: var(--main-background-grey);
}

.resume__btns-text--secondary {
    color: var(--button-color-primary-default);
}

.resume__btns-text--green {
    color: var(--greeen-main);
}

.resume__form-create {
    display: flex;
    width: 286px;
    height: 160px;
    padding: 30px 10px 30px 33px;
    align-items: center;
    align-content: center;
    gap: 23px 0px;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 30px;
    background: var(--card-back-default);    
}
