.resume {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 30px;
    background: var(--card-back-default);
}

.resume__job-type {
    display: flex;
    height: 26px;
    align-items: center;
    gap: 30px;
}

.resume__status {
    display: flex;
    height: 25px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
}

.resume__status--avaliable {
    color: var(--labels-green-main);
    border: 2px solid var(--labels-green-main);
}

.resume__status--hidden {
    color: var(--labels-orange-main);
    border: 2px solid var(--labels-orange-main);
}

.resume__statistic {
    display: flex;
    width: 234px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.resume__statistic-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    gap: 20px;
}

.resume__statistic-line {
    height: 100%;
    width: 2px;
    background-color: var(--text-dark-regular);
}

.resume__btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.resume__btns-text--primary {
    color: var(--main-background-grey);
}

.resume__btns-text--secondary {
    color: var(--button-color-primary-default);
}

.resume__btns-text--green {
    color: var(--greeen-main);
}

.resume__form-create {
    display: flex;
    width: 286px;
    height: 160px;
    padding: 30px 10px 30px 33px;
    align-items: center;
    align-content: center;
    gap: 23px 0px;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 30px;
    background: var(--card-back-default);    
}
