.vacancie {
    display: flex;
    width: 790px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    background: var(--card-back-default);
}

.vacancie__additional-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.add-info {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.add-info__img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.vacancie__form-create {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    background: var(--card-back-default); 
}

.vacancie__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.vacancie-refactor {
    display: flex;
    width: 790px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    background: var(--card-back-default);
}

.vacancie-refactor__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.vacancie-refactor__btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.vacancie-refactor__input-radio-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.vacancie-refactor__input-radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.full-job-info__refactor {
    width: 100%;
}

.vacancy__desc-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
