<div class="profile__settings">
  <div class="setting-inputes-block">
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Организация
      </div>
      <div class="settings-inpute__field">
        ООО "Рога и копыта"
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Расположение
      </div>
      <div class="settings-inpute__field">
        Москва
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Имя менеджера
      </div>
      <div class="settings-inpute__field">
        Иван
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Фамилия менеджера
      </div>
      <div class="settings-inpute__field">
        Иванов
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Должность менеджера
      </div>
      <div class="settings-inpute__field">
        Менеджер проекта
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Имя менеджера
      </div>
      <div class="settings-inpute__field">
        Иван
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Почта
      </div>
      <div class="settings-inpute__field">
        example@example.com
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
    <div class="setting-inpute">
      <div class="setting-inpute__main-text">
        Пароль
      </div>
      <div class="settings-inpute__field">
        **************************
      </div>
      <div class="setting-inpute__button">
        Изменить
      </div>
    </div>
  </div>
  <div class="setting__btn">
    <div class="setting__delete-btn">
      Удалить аккаунт
    </div>
  </div>
</div>
