<div class="profile__settings">
  <div class="setting-inputes-block">
    <div class="changing-inpute ch-i__d-none" data-name="changing-change-full-name">
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Новая организация
        </div>
          <input class="changing-inpute__label" name="last-name" type="text" placeholder="Фамилия" value="">
      </div>
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Пароль
        </div>
        <input class="changing-inpute__label" name="password" type="password" placeholder="Введите пароль">
      </div>
      <div class="changing-inpute__btns">
        <div class="setting-inpute__button" data-name="cancel-changing">
          Отменить
        </div>
        <div class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary"
        data-name="send-form">
          Применить
        </div>
      </div>
    </div>
  </div>
  <div class="setting__btn">
    <div class="setting__delete-btn">
      Удалить аккаунт
    </div>
  </div>
</div>
