<div class="vacancies">
  <div class="vacancies__main-text">
    Мои вакансии
  </div>
  <div class="vacancies__block">
    <div class="vacancies__main-blocks">
      <div class="vacancie">
        <div class="vacancie__main-info">
          Младший Go разработчик в HR Tek
        </div>
        <div class="vacancie__additional-info">
          <div class="add-info">
            <img class="add-info__img" src="../img/rouble_outline_20.png">
            <div class="add-info__text">Не указана</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/stars_20.png">
            <div class="add-info__text">От 1 до 3-х лет</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/clock_outline_20.png">
            <div class="add-info__text">Полная занятость</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/location_map_outline_20.png">
            <div class="add-info__text">Москва</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/calendar_check_outline_20.png">
            <div class="add-info__text">2 дня</div>
          </div>
        </div>
        <div
          class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-blue resume__btns-text resume__btns-text--secondary">
          Редактировать
        </div>
      </div>
      <div class="vacancie">
        <div class="vacancie__main-info">
          Младший Go разработчик в VK
        </div>
        <div class="vacancie__additional-info">
          <div class="add-info">
            <img class="add-info__img" src="../img/rouble_outline_20.png">
            <div class="add-info__text">90 тыс. рублей</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/stars_20.png">
            <div class="add-info__text">Нет опыта</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/clock_outline_20.png">
            <div class="add-info__text">Полная занятость</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/location_map_outline_20.png">
            <div class="add-info__text">Москва</div>
          </div>
          <div class="add-info">
            <img class="add-info__img" src="../img/calendar_check_outline_20.png">
            <div class="add-info__text">1 неделя</div>
          </div>
        </div>
        <div
          class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-blue resume__btns-text resume__btns-text--secondary">
          Редактировать
        </div>
      </div>
    </div>
    <div class="vacancie__form-create">
      <div
        class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary">
        Создать вакансию
      </div>
    </div>
  </div>
</div>
