<div class="profile">
    <div class="d-flex profile__header profile__header--background--default-hh">
        <img class="profile_image" src="../../../public/images/img/buttersss.jpg" alt="profile-logo">
        <div class="profile__info">
            <div class="profile__main-info">
                <div class="profile__about">
                    <div class="profile__main-text">ООО "Рога и копыта"</div>
                    <div class="profile__primary-text">Расположение: Москва, Россия</div>
                </div>
                <div class="profile__switch-btns">
                    <div class="profile__btn profile__btn--active">
                        <div class="profile__btn-text">Настройки</div>
                        <div class="profile__line"></div>
                    </div>
                    <div class="profile__btn profile__btn--hover">
                        <div class="profile__btn-text">Вакансии</div>
                        <div class="profile__line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{#iff state '==' 'settings'}}
    {{> profile_emp_settings}}
    {{else iff state '==' 'vacs'}}
    {{> profile_emp_vacs}}
    {{else}}
    {{> profile_emp_settings}}
    {{/iff}}

</div>
