<div class="view">
    <div>
        <div class="view__field">
            <div class="view__main">
                <div class="vacancie">
                    <div class="vacancie__main-info">
                        Младший Go разработчик в VK
                    </div>
                    <div class="vacancie__additional-info">
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/rouble_outline_20.png">
                            <div class="add-info__text">90 тыс. рублей</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/stars_20.png">
                            <div class="add-info__text">Нет опыта</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/clock_outline_20.png">
                            <div class="add-info__text">Полная занятость</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/location_map_outline_20.png">
                            <div class="add-info__text">Москва</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/calendar_check_outline_20.png">
                            <div class="add-info__text">1 неделя</div>
                        </div>
                    </div>
                    <div class="vacancie__btns">
                        <div class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary">
                            Откликнуться
                        </div>
                        <div class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-blue resume__btns-text resume__btns-text--secondary">
                            Задать вопрос
                        </div>
                        <div class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-blue">
                            <img class="add-info__img" src="../../../public/images/img/heart_settings_outline_20-01.png">
                        </div>
                        <div class="link-btn primary-btn link-btn-bd-rad-10 link-btn_transp-box-blue">
                            <img class="add-info__img" src="../../../public/images/img/hide_outline_20-01.png">
                        </div>
                    </div>
                </div>
            <div class="full-job-info">
                <div class="full-job-info__main-text">
                    <div class="full-job-info__main-text">
                        VK HR Tek — это система кадрового электронного документооборота для компаний и их сотрудников. Мы начали создавать инструменты для HR еще в 2019 году и в конце 2021-го представили сервис VK HR Tek. Среди наших клиентов уже есть крупные российские и международные компании: Алиэкспресс, Юрент, Твоя Аптека, Nexign, Гемотест, Аскона и многие другие. Сервис позволяет кадровикам обрабатывать до 95% кадровых документов одним нажатием кнопки, компании — экономить на канцелярии и логистике, а сотрудникам — уходить в отпуск без посещения отдела кадров.
                    </div>

                    <div class="full-job-info__main-text">
                        Технологии, которые мы используем: Golang, grpc, postgres, kafka, redis, prometheus.
                        
                    </div>
                    
                    <div class="full-job-info__main-text">
                        Задачи:
                        <ul>
                            <li>разработка новой функциональности на Go;</li>
                            <li>планирование и оценка задач;</li>
                            <li>проектирование архитектуры приложения и методов взаимодействия со сторонними API;</li>
                            <li>поддержка проекта, рефакторинг, написание тестов;</li>
                            <li>участие в проведении код-ревью, а также ревью технических решений;</li>
                            <li>участие в интеграции.</li>
                        </ul>
                    </div>
                    
                    <div class="full-job-info__main-text">
                        Требования:
                        <ul>
                            <li>понимание сильных/слабых сторон Golang;</li>
                            <li>отличное знание: grpc, postgresql, kafka, redis, apm, prometheus, elk;</li>
                            <li>понимание паттернов проектирования, работы с микросервисами, принципов DRY, KISS.</li>
                        </ul>
                    </div>
                    
                    <div class="full-job-info__main-text">
                        Работа в VK в качестве молодого специалиста — это:
                        <ul>
                            <li>Возможность студенту и выпускнику начать свою карьеру, совмещая учебу с работой;</li>
                            <li>Масштабные проекты: соцсети, почтовые сервисы, киберспорт, портал, игры, электронная коммерция ― в каждом мы делаем жизнь миллионов людей лучше;</li>
                            <li>Сложные и интересные задачи: высоконагруженные сервисы, которые задают уровень для конкурентов качеством и технологиями, быстрый рост в трендовых направлениях и амбициозные цели каждого проекта;</li>
                            <li>Оборудование: мощное железо, дополнительные мониторы, специализированные гаджеты ― все для решения масштабных задач и экспериментов;</li>
                            <li>Профессиональное развитие: прямо в офисе мы организовываем митапы, конференции, семинары и тренинги, доступные каждому сотруднику;</li>
                            <li>Новый опыт: сотрудники преподают в наших образовательных проектах, выступают на российских и международных конференциях;</li>
                            <li>Здоровье и спорт: программа ДМС доступна с первого месяца работы, а для поддержания иммунитета круглый год работает наш фреш-бар с овощами и фруктами, а также собственный тренажерный и спортивный зал;</li>
                            <li>Офис в 5 минутах от метро, крытый паркинг, велопарковка, а летом ― прокат велосипедов, лонгбордов и самокатов.</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="view-company">
                <img class="view-company__img" src="../../../public/images/img/vk-company.png">
                <div class="view-company__main-info">
                    <div class="view-company__name">
                        VK
                    </div>
                    <div class="view-company__location">
                        <img class="view-company__location-img" src="../../../public/images/img/location_map_outline_20.png">
                        <div class="view-company__location-text">
                            Москва
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>