<div class="view">
    <div>
        <div class="link-btn complex-btn link-btn_blue-without-bd">
            <img class="view__btn-arrow" src="../../../public/images/img/arrow_left_outline_20-01.png">
            <div class="common-text common-text--medium text-dodger-blue">
                Назад к вакансиям
            </div>
        </div>
        <div class="view__field">
            <div class="view__main">
                {{> vac_refactoring}}
                <div class="vacancie">
                    <div class="header-text header-text--first text-dark-title">
                        {{vacancy.name}}
                    </div>
                    <div class="vacancie__additional-info">
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/rouble_outline_20.png">
                            <div class="common-text common-text--medium text-dark-regular">90 тыс. рублей</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/stars_20.png">
                            <div class="common-text common-text--medium text-dark-regular">Нет опыта</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/clock_outline_20.png">
                            <div class="common-text common-text--medium text-dark-regular">{{ vacancy.location }}</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/location_map_outline_20.png">
                            <div class="common-text common-text--medium text-dark-regular">Москва</div>
                        </div>
                        <div class="add-info">
                            <img class="add-info__img" src="../../../public/images/img/calendar_check_outline_20.png">
                            <div class="common-text common-text--medium text-dark-regular">1 неделя</div>
                        </div>
                    </div>
                    <div class="vacancie__btns">
                        <div class="text-dodger-blue setting-inpute__button common-text common-text--medium"
                        data-name="refactoring">
                            Редактировать
                        </div>
                        <div class="link-btn link-btn_blue-without-bd  common-text common-text--medium {{#iff state '==' 'responses'}}d-none{{/iff}}" data-name="responses">
                            Просмотреть отклики
                        </div>
                        <div class="link-btn link-btn_blue-without-bd common-text common-text--medium {{#iff state '==' 'description'}}d-none{{/iff}}" data-name="description">
                            Просмотреть описание
                        </div>
                    </div>
                </div>
                {{#iff state '==' 'description'}}
                {{> vac_description}}
                {{else iff state '==' 'responses'}}
                {{> vac_responses}}
                {{/iff}}
            </div>
            <div class="view-company">
                <img class="view-company__img" src="../../../public/images/img/vk-company.png">
                <div class="view-company__main-info">
                    <div class="header-text header-text--first text-dark-title">
                        VK
                    </div>
                    <div class="view-company__location">
                        <img class="view-company__location-img" src="../../../public/images/img/location_map_outline_20.png">
                        <div class="common-text common-text--medium text-dark-regular">
                            Москва
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>