{{#each (array 
(object title="Профессия" name="profession" placeholder="Профессия")
(object title="Имя" name="first_name" placeholder="Имя" )
(object title="Фамилия" name="last_name" placeholder="Фамилия")
)}}

{{> input (object obj=this
value=(lookup ../data this.name)
class_title="res__form__input__title"
class="res__form__input" error=(lookup ../errors this.name))}}

{{/each}}

<p class="res__form__input_radio__title res__form__input__title">Пол</p>
<div class="res__form__input res__form__input_radio_flex">
  {{#each (array
  (object text="Мужской")
  (object text="Женский")
  )}}
  {{!-- {{#iff @index '==' 0}}
  {{> input_radio (object text=this.text class_label="res__form__input_radio_flex_field" name="gender" checked=true)}}
  {{else}} --}}
  {{> input_radio (object text=this.text class_label="res__form__input_radio_flex_field" name="gender"  error=(lookup ../errors "gender"))}}
  {{!-- {{/iff}} --}}
  {{/each}}
</div>

{{> input (object obj=(object title="Дата рождения" name="birthday" type="date")
class_title="res__form__input__title"
class="res__form__input" 
value=(lookup data "birthday")
error=(lookup errors "birthday"))}}

{{> input (object obj=(object title="Город" name="location" placeholder="Город")
class_title="res__form__input__title"
class="res__form__input"
value=(lookup data "location")
error=(lookup errors "location"))}}

