<label class="res__form__input d-block">
  {{> input_checkbox (object name="is_expirience" class="js-name-is-experience")}}
  <span>У меня есть опыт работы</span>
</label>

<div class="js-res-form-exp"></div>

