{{#each (array 
(object title="В какой компании вы работали" name="expirience_organization_name" placeholder="Компания")
(object title="На какой должности" name="expirience_position" placeholder="Должность")
(object title="Начало работы" name="expirience_start_date" type="date")
)}}

{{> input (object obj=this
class_title="res__form__input__title"
class="res__form__input")}}

{{/each}}

<div class="js-block-expirience_end_date"></div>

<label class="res__form__input d-block">
  {{> input_checkbox (object class="js-name-is-expirience_end_date")}}
  <span>По настоящее время</span>
</label>

{{#each (array 
(object title="Расскажите о ваших обязанностях и достижениях" name="expirience_description" placeholder="Достижения и обязанности")
)}}

{{> input (object obj=this
class_title="res__form__input__title"
class="res__form__input")}}
{{/each}}
