<label class="res__form__input d-block">
  {{> input_checkbox (object name="is_expirience")}}
  <span>У меня есть опыт работы</span>
</label>

{{#each (array 
(object title="В какой компании вы работали" name="expirience_organization_name" placeholder="Компания")
(object title="На какой должности" name="expirience_position" placeholder="Должность")
(object title="Начало работы" name="expirience_start_date" type="date")
(object title="Год окончания" name="expirience_end_date" placeholder="Год окончания" type="date")
)}}

{{> input (object obj=this
class_title="res__form__input__title"
class="res__form__input")}}

{{/each}}

<label class="res__form__input d-block">
  {{> input_checkbox }}
  <span>По настоящее время</span>
</label>

{{#each (array 
(object title="Расскажите о ваших обязанностях и достижениях" name="expirience_description" placeholder="Достижения и обязанности")
)}}

{{> input (object obj=this
class_title="res__form__input__title"
class="res__form__input")}}

{{/each}}
