<div class="form__title">Расскажите немного о себе (ваше хобби, личные качества, любая дополнительная информация)</div>
<textarea class="res__form__input res__form__input_textarea input__field" rows="10" name="description" placeholder="Расскажите о своих качествах, знаниях, увлечениях, которые , как вам кажется, будут полезны работодателю"></textarea>
