<div class="form">

  <label class="res__form__field form__label_flex">
    {{> input_checkbox (object
    text="У меня есть опыт работы"
    class=(object
    input="js-name-is-experience"
    )
    attrs=(ifs page_data.is_exp (object checked="true") (object)))}}
  </label>

  {{#if page_data.is_exp }}

  {{#each (array
  (object title="В какой компании вы работали" name="organization_name" placeholder="Компания")
  (object title="На какой должности" name="job_position" placeholder="Должность")
  (object title="Начало работы" name="start_date" type="date")
  )}}

  {{> input (object obj=this
  class=(object
  block="res__form__field"
  title="res__form__input__title"
  input="res__form__input forms-placeholder"
  )
  error=(lookup ../errors this.name)
  value=(lookup ../data this.name)
  )}}

  {{/each}}

  {{#if page_data.is_end_date }}

  {{#each (array
  (object title="Год окончания" name="end_date" placeholder="Год окончания" type="date")
  )}}

  {{> input (object obj=this
  class=(object
  block="res__form__field"
  title="res__form__input__title"
  input="js-name-expirience_end_date res__form__input forms-placeholder"
  )
  error=(lookup ../errors this.name)
  value=(lookup ../data this.name)
  )}}

  {{/each}}

  {{/if}}


  <label class="res__form__field form__label_flex">
    {{> input_checkbox (object
    text="По настоящее время"
    class=(object
    input="js-name-is-expirience_end_date"
    )
    attrs=(ifs page_data.is_end_date (object checked="true") (object)))}}
  </label>

  {{#each (array
  (object title="Расскажите о ваших обязанностях и достижениях" name="expirience_description" placeholder="Достижения и обязанности"))}}

  {{> input (object obj=this
  class=(object
  block="res__form__field"
  title="res__form__input__title"
  input="res__form__input forms-placeholder"
  )
  error=(lookup ../errors this.name)
  value=(lookup ../data this.name)
  )}}

  {{/each}}

  {{/if}}

</div>
