
<p class="res__form__input_radio__title res__form__input__title">Уровень образования</p>
<div class="res__form__input">
  {{#each (array
  (object text="Среднее")
  (object text="Среднее специальное")
  (object text="Неоконченное высшее")
  (object text="Высшее")
  (object text="Бакалавр")
  (object text="Магистр")
  (object text="Кандидат наук")
  (object text="Доктор наук")
  )}}
  {{!-- {{#iff @index '==' 0}}
  {{> input_radio (object text=this.text class_label="res__form__input_radio_field" name="education_level" checked=true)}}
  {{else}} --}}
  {{> input_radio (object text=this.text class_label="res__form__input_radio_field" name="education_level")}}
  {{!-- {{/iff}} --}}
  {{/each}}
</div>

{{!-- (object title="Факультет" name="faculty" placeholder="Факультет") --}}
{{#each (array 
(object title="Учебное заведение" name="education_institution_name" placeholder="Учебное заведение")

(object title="Специализация" name="major_field_name" placeholder="Специализация")
(object title="Год окончания" name="education_graduation_year" placeholder="Год окончания")
)}}

{{> input (object obj=this
class_title="res__form__input__title"
class="res__form__input")}}

{{/each}}

