<div class="form">
  <div class="res__form__input__title">Уровень образования</div>
  <div class="res__form__field">
    {{#each (array
    (object text="Среднее" value="secondary")
    (object text="Среднее специальное" value="special_secondary")
    (object text="Неоконченное высшее" value="unfinished_higher")
    (object text="Высшее" value="higher")
    (object text="Бакалавр" value="bachelor")
    (object text="Магистр" value="master")
    (object text="Кандидат наук" value="candidate")
    (object text="Доктор наук" value="doctor")
    )}}

    {{> input_radio (object text=this.text
    attrs=(object
    name="education_level"
    value=this.value
    )
    checked=(iffs (lookup ../data "education_level") '==' this.value true false)
    class=(object
    block="res__form__input_radio_field"
    )
    error=(lookup ../errors "education_level")
    )}}

    {{/each}}
    {{#if (lookup errors "education_level")}}
    <div class="input_error__msg">{{lookup errors "education_level"}}</div>
    {{/if}}
  </div>

  {{#each (array
  (object title="Учебное заведение" name="education_institution_name" placeholder="Учебное заведение")
  (object title="Специализация" name="major_field_name" placeholder="Специализация")
  (object title="Год окончания" name="education_graduation_year" placeholder="Год окончания")
  )}}

  {{> input (object obj=this
  class=(object
  block="res__form__field"
  input="res__form__input"
  title="res__form__input__title"
  )
  error=(lookup ../errors this.name)
  value=(lookup ../data this.name)
  )}}

  {{/each}}

</div>
