<form class="js-edit-form" data-page={{page}}>
    {{#if page '==' 0}}
    {{> resume/res_form_0 }}
    {{/if}}
    <div class="form__actions">
        {{> components/link-btn
        text="Отменить"
        data=(object page=page)
        class="js-cancel-edit link-btn text-dodger-blue link-btn-blue common-text common-text--medium"}}
        <button type="submit" class="js-save-edit text-light-title link-btn-blue--bg common-text common-text--medium"
            data-page={{page}}>Сохранить</button>
    </div>
</form>
