<aside class="vacs__filters">
    <div class="vacs__desc">
        Найдено <span>{{ resumes.length }}</span> резюме
    </div>
    <!-- Input field -->
    {{!-- <div class="vacs__search vacs__filter">
        <div class="vacs__search__name vacs__filter__name">
            Профессия, должность или компания
        </div>
        {{> input (object obj=(object placeholder="Ключевые слова")
        class="vacs__search__input common-text common-text--medium")}}
        {{> link-btn (object text="Применить"
        class="common-text common-text--medium link-btn-blue--bg text-light-title")}}
    </div> --}}
    <!-- Checkbox buttons -->
    <div class="vacs__filters-frame">
        <div class="vacs__filter">
            <div class="vacs__filter__name">
                Образование
            </div>
            <ul class="vacs__filter__list">
                <li class="vacs__filter__list__item">
                    <label class="vacs__filter__list__item__label">
                        {{> input_checkbox }}
                        <span>Среднее</span>
                    </label>
                </li>
                <li class="vacs__filter__list__item">
                    <label class="vacs__filter__list__item__label">
                        {{> input_checkbox }}
                        <span>Среднее специальное</span>
                    </label>
                </li>
            </ul>
        </div>
        <!-- Radio buttons -->
        <div class="vacs__filter">
            <div class="vacs__filter__name">
                Пол
            </div>
            <ul class="vacs__filter__list">
                <li class="vacs__filter__list__item">
                    {{> input_radio (object text="Не имеет значения"
                    attrs=(object
                    name="gender"
                    )
                    class_label="vacs__filter__list__item__label") }}
                </li>
                <li class="vacs__filter__list__item">
                    {{> input_radio (object text="Мужской"
                    attrs=(object
                    name="gender"
                    )
                    class_label="vacs__filter__list__item__label") }}
                </li>
            </ul>
        </div>
    </div>

</aside>
