<div class="full-job-info">
    {{#if vacancy.description}}
    <div class="common-text common-text--regular">
    {{vacancy.description}}
    </div>
    {{#iff role '==' 'employer'}}
        <div class="text-dodger-blue setting-inpute__button common-text common-text--medium">
            Редактировать подробное описание
        </div>
    {{/iff}}
    {{/if}}
        {{!-- <div class="full-job-info__main-text">
            VK HR Tek — это система кадрового электронного документооборота для компаний и их сотрудников. Мы начали создавать инструменты для HR еще в 2019 году и в конце 2021-го представили сервис VK HR Tek. Среди наших клиентов уже есть крупные российские и международные компании: Алиэкспресс, Юрент, Твоя Аптека, Nexign, Гемотест, Аскона и многие другие. Сервис позволяет кадровикам обрабатывать до 95% кадровых документов одним нажатием кнопки, компании — экономить на канцелярии и логистике, а сотрудникам — уходить в отпуск без посещения отдела кадров.
        </div> --}}

        {{!-- <div class="full-job-info__main-text">
            Технологии, которые мы используем: Golang, grpc, postgres, kafka, redis, prometheus.
            
        </div> --}}
        
        {{!-- <div class="full-job-info__main-text">
            Задачи:
            <ul>
                <li>разработка новой функциональности на Go;</li>
                <li>планирование и оценка задач;</li>
                <li>проектирование архитектуры приложения и методов взаимодействия со сторонними API;</li>
                <li>поддержка проекта, рефакторинг, написание тестов;</li>
                <li>участие в проведении код-ревью, а также ревью технических решений;</li>
                <li>участие в интеграции.</li>
            </ul>
        </div> --}}
        
        {{!-- <div class="full-job-info__main-text">
            Требования:
            <ul>
                <li>понимание сильных/слабых сторон Golang;</li>
                <li>отличное знание: grpc, postgresql, kafka, redis, apm, prometheus, elk;</li>
                <li>понимание паттернов проектирования, работы с микросервисами, принципов DRY, KISS.</li>
            </ul>
        </div> --}}
        
        {{!-- <div class="full-job-info__main-text">
            Работа в VK в качестве молодого специалиста — это:
            <ul>
                <li>Возможность студенту и выпускнику начать свою карьеру, совмещая учебу с работой;</li>
                <li>Масштабные проекты: соцсети, почтовые сервисы, киберспорт, портал, игры, электронная коммерция ― в каждом мы делаем жизнь миллионов людей лучше;</li>
                <li>Сложные и интересные задачи: высоконагруженные сервисы, которые задают уровень для конкурентов качеством и технологиями, быстрый рост в трендовых направлениях и амбициозные цели каждого проекта;</li>
                <li>Оборудование: мощное железо, дополнительные мониторы, специализированные гаджеты ― все для решения масштабных задач и экспериментов;</li>
                <li>Профессиональное развитие: прямо в офисе мы организовываем митапы, конференции, семинары и тренинги, доступные каждому сотруднику;</li>
                <li>Новый опыт: сотрудники преподают в наших образовательных проектах, выступают на российских и международных конференциях;</li>
                <li>Здоровье и спорт: программа ДМС доступна с первого месяца работы, а для поддержания иммунитета круглый год работает наш фреш-бар с овощами и фруктами, а также собственный тренажерный и спортивный зал;</li>
                <li>Офис в 5 минутах от метро, крытый паркинг, велопарковка, а летом ― прокат велосипедов, лонгбордов и самокатов.</li>
            </ul>
        </div> --}}
</div>
