<div class="responses" style="width: 100%;">
    <div class="responses__blocks">
        <div class="response-block">
            <div class="response-block__main-info" style="gap: 25px;">
                <img class="response-block__img" src="../../../public/images/img/error_circle_32-01.png">
                <div class="response__employer">
                    <div class="response__job-name">
                    Иванов Иван Иванович - Web разработчик
                    </div>
                    <div class="link-btn link-btn_blue-without-bd">
                        Посмотреть резюме
                    </div>
                </div>
            </div>
            <div class="response-block__date">
            10.10.2023
            </div>
        </div>
    </div>
</div>