<div class="form">

  {{!-- =========================== --}}

  {{#each (array
  (object title="Название вакансии" name="name" placeholder="Название вакансии")
  )}}

  {{> input (object obj=this
  value=(lookup ../data this.name)
  class=(object
  title="res__form__input__title"
  input="res__form__input forms-placeholder"
  block="res__form__field"
  )
  name=this.name
  error=(lookup ../errors this.name))}}
  {{/each}}

  {{!-- ========================= --}}

  <div class="res__form__field">
    <div class="res__form__input__title">Предпологаемый уровень дохода ₽</div>
      <div class="res__form__field_flex">
        {{#each (array
        (object name="salary_lower_bound" placeholder="От")
        (object name="salary_upper_bound" placeholder="До")
        )}}

        {{> input (object obj=this
        value=(lookup ../data this.name)
        class=(object
        title="res__form__input__title"
        input="res__form__input forms-placeholder"
        )
        name=this.name
        error=(lookup ../errors this.name))}}
        {{/each}}
      </div>
    </div>
  {{!-- ========================= --}}

  <div class="res__form__field">
    <div class="res__form__input__title">Требуемый опыт</div>
    <div class=" res__form__input_radio">
      {{#each (array
      (object text="Не указывать" value="none") 
      (object text="Нет опыта" value="no_experience") 
      (object text="От 1 года до 3-х лет" value="one_three_years" ) 
      (object text="От 3-х лет до 6 лет" value="three_six_years" ) 
      (object text="более 6 лет" value="six_more_years" ) )}} 
      {{> input_radio (object
        text=this.text
        class=(object
        block="mb-10"
        input="res__form__input"
        )
        attrs=(object
        name="experience"
        value=this.value
        )
        checked=(iffs (lookup ../data "experience") '==' this.value true false)
        error=(lookup ../errors "experience"))}}
        {{/each}}
    </div>
    {{#if (lookup errors "experience")}}
    <div class="input_error__msg">{{lookup errors "experience"}}</div>
    {{/if}}
  </div>

  {{!-- ================================== --}}

  <div class="res__form__field">
    <div class="res__form__input__title">Занятость</div>
    <div class=" res__form__input_radio">
      {{#each (array
      (object text="Не указывать" value="none") 
      (object text="Полная занятость" value="full-time") 
      (object text="Частичная занятость" value="part-time" ) 
      (object text="Проектная работа или разовое задание" value="one-time" ) 
      (object text="Волонтерство" value="volunteering" )
      (object text="Стажировка" value="internship" ) )}} 
      {{> input_radio (object
        text=this.text
        class=(object
        block="mb-10"
        input="res__form__input"
        )
        attrs=(object
        name="employment"
        value=this.value
        )
        checked=(iffs (lookup ../data "employment") '==' this.value true false)
        error=(lookup ../errors "employment"))}}
        {{/each}}
    </div>
    {{#if (lookup errors "employment")}}
    <div class="input_error__msg">{{lookup errors "employment"}}</div>
    {{/if}}
  </div>

  {{!-- ================================== --}}

  <div class="res__form__input__title">Уровень образования</div>
  <div class="res__form__field">
    {{#each (array
    (object text="Нет образования" value="nothing")
    (object text="Среднее" value="secondary")
    (object text="Среднее специальное" value="special_secondary")
    (object text="Неоконченное высшее" value="unfinished_higher")
    (object text="Высшее" value="higher")
    (object text="Бакалавр" value="bachelor")
    (object text="Магистр" value="master")
    (object text="Кандидат наук" value="candidate")
    (object text="Доктор наук" value="doctor")
    )}}

    {{> input_radio (object text=this.text
    attrs=(object
    name="education_type"
    value=this.value

    )
    class=(object
    block="res__form__input_radio_field"
    input="js-education-level res__form__input"
    )
    checked=(iffs (lookup ../data "education_type") '==' this.value true false)
    error=(lookup ../errors "education_type")
    )}}

    {{/each}}
    {{#if (lookup errors "education_type")}}
    <div class="input_error__msg">{{lookup errors "education_type"}}</div>
    {{/if}}
  </div>


  {{!-- ================================== --}}

  {{#each (array
  (object title="Расположение" name="location" placeholder="Расположение")
  )}}

  {{> input (object obj=this
  class=(object
  title="res__form__input__title"
  input="res__form__input forms-placeholder"
  block="res__form__field"
  )
  name=this.name
  value=(lookup ../data this.name)
  error=(lookup ../errors this.name))}}

  {{/each}}

</div>
