<form class="reg-form">
  <span class="default-text x-large-font">Войти</span>
  <div class="d-flex">
    <span class="reg-text me-10">Найти работу</span>
    <a href="/app_login" class="elipse-button elipse-button-right">
      <div class="circle"></div>
    </a>
    <span class="reg-text ms-10">Найти сотрудников</span>
  </div>
  <label class="input">
    <input type="text" class="input-in" name="email" placeholder="Электронная почта(компания)">
  </label>
  <label class="input">
    <input type="password" class="input-in" name="password" placeholder="Пароль">
  </label>
  <label for="rememberPassword" class="remember-label">
    <input type="checkbox" name="rememberPassword" class="remember-checkbox">
    <span class="reg-text small-font">Запомнить пароль</span>
  </label>
  <div class="form-actions">
    <button type="submit" class="fully-button side-m-0">Войти</button>
    <a href="#" class="transparent-button side-m-0">Зарегистрироваться</a>
  </div>
</form>
