<div class="profile">
   
    <div class="profile__header profile__header--background--default-hh">
        <img class="profile_image" src="/images/webp/profile.webp" alt="profile-logo">
        <div class="profile__info">
            <div class="profile__main-info">
                <div class="profile__about">
                    <div class="header-text header-text--first text-light-title profile__about-mobile-main-text">{{emp.first_name}} {{emp.last_name}}</div>
                    <div class="secondary-text text-light-regular profile__about-mobile-main-text">Компания: {{emp.organization_name}}</div>
                </div>
            </div>
        </div>
        <div class="profile__filled-container">
            <div class="profile__role-big-frame">
                <div class="profile__roles-frame">
                    <div class="tooltip">
                        <img src="/images/svg/briefcase_outline_28-01.svg" class="profile__role-img">
                        <span class="tooltip-text-down tooltip-text-down__profile common-text common-text-medium text-dark-title">Работодатель</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emp-vacs__frame">
        <div class="header-text header-text--first">
          Найдено {{emp.vacancies.length}} вакансий(я) работодателя
        </div>
        
        {{#with (object vacancies=emp.vacancies config=config)}}
        {{> vac/vacs_list_mobile}}
        {{/with}}
    </div>
</div>
