<div class="column-wrapper">
    <div class="page404__block">
        <div class="page404__text mb-20">Страница не найдена!</div>
        {{> link-btn (object href="/" text="Перейти на главную"
        class="js-nav-link page404__link link-btn_pd-med link-btn_bd-rad-med link-btn_transp-box-green d-block")}}
    </div>
</div>
