<div>это опрос!</div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="../../views/partials.precompiled.js"></script>
<script src="../../views/templates.precompiled.js"></script>
