<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/body.css">
    <title>Hunt&Hire</title>
</head>
<body>
    <nav>
        <div>
            <p class="dodger-blue logo">H&H</p>
        </div>
        <div>
            <p class="default-text">О нас</p>
        </div>
        <div>
            <p class="default-text">Как это работает</p>
        </div>
        <div>
            <p class="default-text">Вакансии</p>
        </div>
        <div>
            <button class="transparent-button">Уже есть аккаунт</button>
            <button class="fully-button">Зарегистрироваться</button>    
        </div>
    </nav>
    <div>

    </div>
    <footer>
        <div class="footer-content">
            <div class="top-footer">
                <div>
                    <p class="footer-text" style="font-size: x-large;">Найди Работу</p>
                    <p class="footer-text" style="font-size: x-large;">Своей Мечты Здесь</p>
                </div>
                <div>
                    <button class="footer-button">Создать резюме</button>
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-content">
                <p class="footer-text">Hunt & Hire</p>
                <p class="footer-text" style="font-weight: 100; font-size: small;">Найти работу своей мечты теперь проще чем когда-либо</p>
            </div>
        </div>
    </footer>
</body>
</html>
