<div class="reg-form">
    <span class="default-text x-large-font">Войти</span>
    <div class="d-flex">
        <span class="reg-text me-10">Найти работу</span>
        <a href="#" class="elipse-button" onclick="loadContent('/templates/applicant_sign_in.html')">
            <div class="circle"></div>
        </a> 
        <span class="reg-text ms-10">Найти сотрудников</span>
    </div>  
    <div class="input">
        <input type="text" class="input-in" id="email" placeholder="Электронная почта">
    </div>
    <div class="input">
        <input type="password" class="input-in" id="email" placeholder="Пароль">
    </div>
    <label for="rememberPassword" class="remember-label">
        <input type="checkbox" id="rememberPassword" class="remember-checkbox">
        <span class="reg-text small-font">Запомнить пароль</span>
    </label>
    <div class="form-actions">
        <a href="#" class="fully-button side-m-0">Войти</a>
        <a href="#" class="transparent-button side-m-0" onclick="loadContent('/templates/employer_reg.html')">Зарегистрироваться</a>
    </div>
</div>
