<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/css/body.css">
    <title>Hunt&Hire</title>
</head>
<body>
    <nav>
        <div>
            <h1 class="dodger-blue logo">H&H</h1>
        </div>
        <div class="infoblock">
            <div class="ms-10 me-10">
                <p class="default-text">О нас</p>
            </div>
            <div class="ms-10 me-10">
                <p class="default-text">Как это работает</p>
            </div>
            <div class="ms-10 me-10">
                <p class="default-text">Вакансии</p>
            </div>
        </div>
        <div>
            <a href="#" class="transparent-button" onclick="loadContent('/templates/employer_sign_in.html')">Уже есть аккаунт</a>
            <a href="#" class="fully-button" onclick="loadContent('/templates/employer_reg.html')">Зарегистрироваться</a>
        </div>
    </nav>
    <main id="main-content">
        <div class="reg-form">
            <span class="default-text x-large-font">Войти</span>
            <div class="d-flex">
                <span class="reg-text me-10">Найти работу</span>
                <a href="#" class="elipse-button" onclick="loadContent('/templates/applicant_sign_in.html')">
                    <div class="circle"></div>
                </a> 
                <span class="reg-text ms-10">Найти сотрудников</span>
            </div>  
            <div class="input">
                <input type="text" class="input-in" id="email" placeholder="Электронная почта">
            </div>
            <div class="input">
                <input type="password" class="input-in" id="email" placeholder="Пароль">
            </div>
            <label for="rememberPassword" class="remember-label">
                <input type="checkbox" id="rememberPassword" class="remember-checkbox">
                <span class="reg-text small-font">Запомнить пароль</span>
            </label>
            <div class="form-actions">
                <a href="#" class="fully-button side-m-0">Войти</a>
                <a href="#" class="transparent-button side-m-0" onclick="loadContent('/templates/employer_reg.html')">Зарегистрироваться</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="top-footer">
                <div>
                    <p class="footer-text x-large-font">Найди работу</p>
                    <p class="footer-text x-large-font">Своей мечты здесь</p>
                </div>
                <div>
                    <button class="footer-button">Создать резюме</button>
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-content">
                <p class="footer-text">Hunt & Hire</p>
                <p class="footer-text font-weight-100 small-font">Найти работу своей мечты теперь проще чем когда-либо</p>
            </div>
        </div>
    </footer>
    <script src="/scripts/load_content.js"></script>
</body>
</html>
