<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/body.css">
    <title>Hunt&Hire</title>
</head>
<body>
    <nav>
        <div>
            <p class="dodger-blue logo">H&H</p>
        </div>
        <div>
            <p class="default-text">О нас</p>
        </div>
        <div>
            <p class="default-text">Как это работает</p>
        </div>
        <div>
            <p class="default-text">Вакансии</p>
        </div>
        <div>
            <button class="transparent-button">Уже есть аккаунт</button>
            <button class="fully-button">Зарегистрироваться</button>    
        </div>
    </nav>
</body>
</html>