<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/body.css">
    <title>Hunt&Hire</title>
</head>
<body>
    <nav>
        <div>
            <h1 class="dodger-blue logo">H&H</h1>
        </div>
        <div class="infoblock">
            <div class="ms-10 me-10">
                <p class="default-text">О нас</p>
            </div>
            <div class="ms-10 me-10">
                <p class="default-text">Как это работает</p>
            </div>
            <div class="ms-10 me-10">
                <p class="default-text">Вакансии</p>
            </div>
        </div>
        <div>
            <a href="#" class="transparent-button">Уже есть аккаунт</a>
            <a href="#" class="fully-button">Зарегистрироваться</a>
        </div>
    </nav>
    <main>
        <div class="reg-form">
            <span class="default-text" style="font-size: x-large;">Регистрация</span>
            <div style="display: flex;">
                <span class="reg-text me-10">Найти работу</span>
                <a href="/templates/applicant_reg.html" class="elipse-button">
                    <div class="circle"></div>
                </a>
                <span class="reg-text ms-10">Найти сотрудников</span>
            </div>  
            <div class="input"><input type="text" class="input-in" placeholder="Имя"></div>
            <div class="input"><input type="text" class="input-in" placeholder="Фамилия"></div>
            <div class="input"><input type="text" class="input-in" placeholder="Название компании"></div>
            <div class="input"><input type="text" class="input-in" placeholder="Электронная почта"></div>
            <div class="input"><input type="password" class="input-in" placeholder="Придумайте ароль"></div>
            <div class="input"><input type="text" class="input-in" placeholder="Повторите пароль"></div>
            <label for="rememberPassword" class="remember-label">
                <input type="checkbox" id="rememberPassword" class="remember-checkbox"> <span class="reg-text" style="font-size: 14px;">Запомнить пароль</span>
            </label>
            <div class="form-actions">
                <a href="#" class="fully-button" style="margin-left: 0; margin-right: 0;">Зарегистрироваться</a>
                <a href="/templates/employer_sign_in.html" class="transparent-button" style="margin-left: 0; margin-right: 0;">Уже есть аккаунт</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="top-footer">
                <div>
                    <p class="footer-text" style="font-size: x-large;">Найди Работу</p>
                    <p class="footer-text" style="font-size: x-large;">Своей Мечты Здесь</p>
                </div>
                <div>
                    <button class="footer-button">Создать резюме</button>
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-content">
                <p class="footer-text">Hunt & Hire</p>
                <p class="footer-text" style="font-weight: 100; font-size: small;">Найти работу своей мечты теперь проще чем когда-либо</p>
            </div>
        </div>
    </footer>
</body>
</html>
