{{#if user}}

{{#iff user.role '==' 'applicant'}}
    <div class="cursor-pointer">
        <a href="/profile/resumes" class="js-nav-link link-btn common-text common-text--medium text-dark-title">Мои резюме</a>
    </div>
    <div class="cursor-pointer">
        <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dark-title">Соискатели</a>
    </div>
    <div class="cursor-pointer">
        <a href="/vacs" class="js-nav-link common-text link-btn common-text--medium text-dark-title">Вакансии</a>
    </div>
{{else}}
    <div class="cursor-pointer">
        <a href="/profile/vacancies" class="js-nav-link link-btn common-text common-text--medium text-dark-title">Мои вакансии</a>
    </div>
    <div class="cursor-pointer">
        <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dark-title">Соискатели</a>
    </div>
    <div class="cursor-pointer">
        <a href="/vacs" class="js-nav-link common-text link-btn common-text--medium text-dark-title">Вакансии</a>
    </div>
{{/iff}}

{{else}}
    <div class="cursor-pointer">
        <a href="https://github.com/frontend-park-mail-ru/2023_2_VIVE" target="_blank" class="link-btn common-text common-text--medium text-dark-title">О нас</a>
    </div>
    <div class="cursor-pointer">
        <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dark-title">Соискатели</a>
    </div>
    <div class="cursor-pointer">
        <a href="/vacs" class="js-nav-link common-text link-btn common-text--medium text-dark-title">Вакансии</a>
    </div>
{{/if}}
