<section class="navbar-section">
  <div class="column-wrapper">
    <div class="navbar">
      <div class="navbar__item navbar__logo">
        {{> link-btn (object 
        href="/"
        class="navbar__item__btn"
        svg_pos="before"
        svg='<svg width="74" height="28" viewBox="0 0 74 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4941 11.5664L18.668 16.3125H5.88867L6.71484 11.5664H19.4941ZM10.5117 1.40625L6.06445 27H0.0527344L4.48242 1.40625H10.5117ZM25.2773 1.40625L20.8301 27H14.8359L19.2656 1.40625H25.2773ZM29.9883 13.5352L35.8418 10.125C36.334 9.82031 36.7734 9.45703 37.1602 9.03516C37.5586 8.60156 37.793 8.08008 37.8633 7.4707C37.9219 6.97852 37.8223 6.54492 37.5645 6.16992C37.3184 5.79492 36.9316 5.60156 36.4043 5.58984C35.9473 5.57812 35.543 5.68945 35.1914 5.92383C34.8516 6.14648 34.5703 6.44531 34.3477 6.82031C34.125 7.18359 33.9785 7.57031 33.9082 7.98047C33.8145 8.61328 33.8906 9.23438 34.1367 9.84375C34.3828 10.4531 34.6992 11.0391 35.0859 11.6016C35.4727 12.1523 35.8301 12.668 36.1582 13.1484L45.7383 27H39.6035L31.834 15.8555C31.3418 15.1055 30.8672 14.3086 30.4102 13.4648C29.9531 12.6211 29.5898 11.748 29.3203 10.8457C29.0508 9.94336 28.9512 9.02344 29.0215 8.08594C29.1152 6.69141 29.5078 5.46094 30.1992 4.39453C30.9023 3.31641 31.8164 2.47852 32.9414 1.88086C34.0664 1.2832 35.332 1.00195 36.7383 1.03711C37.8633 1.06055 38.8828 1.33008 39.7969 1.8457C40.7109 2.36133 41.4316 3.07031 41.959 3.97266C42.4863 4.86328 42.7207 5.88867 42.6621 7.04883C42.6152 7.89258 42.4043 8.67187 42.0293 9.38672C41.666 10.1016 41.1914 10.752 40.6055 11.3379C40.0312 11.9121 39.4102 12.4219 38.7422 12.8672L32.3438 16.9629C32.0859 17.1973 31.8516 17.4785 31.6406 17.8066C31.4414 18.123 31.2773 18.4629 31.1484 18.8262C31.0312 19.1777 30.9492 19.5234 30.9023 19.8633C30.8438 20.3438 30.873 20.8066 30.9902 21.252C31.1191 21.6855 31.3418 22.0488 31.6582 22.3418C31.9863 22.623 32.4141 22.7812 32.9414 22.8164C34.0898 22.875 35.1504 22.6582 36.123 22.166C37.1074 21.6738 37.9688 21 38.707 20.1445C39.457 19.2773 40.0664 18.3281 40.5352 17.2969C41.0039 16.2539 41.2969 15.2227 41.4141 14.2031L46.1953 14.1855C46.1133 15.4863 45.873 16.7812 45.4746 18.0703C45.0762 19.3594 44.4961 20.5547 43.7344 21.6562C42.9844 22.7461 42.0352 23.6602 40.8867 24.3984C40.7695 24.4688 40.6465 24.5391 40.5176 24.6094C40.4004 24.668 40.2832 24.7383 40.166 24.8203C38.9004 25.582 37.6406 26.2031 36.3867 26.6836C35.1328 27.1641 33.75 27.3867 32.2383 27.3516C30.8438 27.3281 29.5723 27.0352 28.4238 26.4727C27.2871 25.8984 26.3965 25.0898 25.752 24.0469C25.1074 22.9922 24.8262 21.7266 24.9082 20.25C24.9668 19.2188 25.2422 18.293 25.7344 17.4727C26.2383 16.6523 26.8652 15.9199 27.6152 15.2754C28.377 14.6309 29.168 14.0508 29.9883 13.5352ZM67.5879 11.5664L66.7617 16.3125H53.9824L54.8086 11.5664H67.5879ZM58.6055 1.40625L54.1582 27H48.1465L52.5762 1.40625H58.6055ZM73.3711 1.40625L68.9238 27H62.9297L67.3594 1.40625H73.3711Z"
              fill="#0496FF" />
          </svg>'
        )}}
      </div>
      {{#if user}}
      
      {{#iff user.role '==' 'applicant'}}
      {{> header_app}}
      {{else}}
      {{> header_emp}}
      {{/iff}}

      {{else}}
      {{> header_anm }}
      {{/if}}
    </div>
  </div>
</section>
