<div class="dropdown">
    <div class="navbar__item">
      <img class="cursor-pointer dropdown__padd-btn" src="../../public/images/img/more_28-01.png" style="width: 36px; height: 36px; flex-shrink: 0;">
    </div>
    <div class="dropdown__content d-none">
      <div class="dropdown__item cursor-pointer" name="profile">
        <img class="dropdown__img" src="../../public/images/img/profile_28-01.png">
        <div class="common-text common-text--medium text-dodger-blue">Профиль</div>
      </div>
      <div class="dropdown__item cursor-pointer" name="settings">
        <img class="dropdown__img" src="../../public/images/img/settings_outline_28-01.png">
        <div class="common-text common-text--medium text-dodger-blue">Настройки</div>
      </div>
      <div class="dropdown__item cursor-not-allowed" name="switch">
        <img class="dropdown__img" src="../../public/images/img/refresh_outline_28-01.png">
        <div class="common-text common-text--medium text-dodger-blue">Сменить роль</div>
      </div>
      <div class="dropdown__item cursor-pointer"  name="leave">
        <img class="dropdown__img" src="../../public/images/img/door_arrow_left_outline_28-01.png">
        <div class="common-text common-text--medium text-dodger-blue">Выход из аккаунта</div>
      </div>
    </div>
  </div>
  