<div class="navbar__left">
  {{#each links}}
  <div class="navbar__item">
    {{> components/link-btn (object href=href text=text
    class="js-nav-link navbar__item__btn link-btn link-btn_pd-med link-btn_block common-text common-text--medium link-btn-default-dark")}}
  </div>
  {{/each}}
</div>
