<div class="dropdown">
    <div class="navbar__item">
      <img class="cursor-pointer dropdown__padd-btn" name="drop-btn-profile" src="/images/svg/more_28-01.svg" style="width: 36px; height: 40px; flex-shrink: 0;">
    </div>
    <div class="dropdown__content dropdown__content-left dropdown__content__profile mobile__header-drop d-none">
      {{#if user}}
      {{#iff user.role '==' 'applicant'}}
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/resume/creation" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Создать резюме</a>
      </div>
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/profile/resumes" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Мои резюме</a>
      </div>
      {{else}}
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/vacancy/creation" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Создать вакансию</a>
      </div>
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/profile/vacancies" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Мои Вакансии</a>
      </div>
      {{/iff}}
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Соискатели</a>
      </div>
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/vacs" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Вакансии</a>
      </div>
      <a href="/profile" class="link-btn js-nav-link dropdown__item dropdown__item_profile">
        <img class="dropdown__img" src="/images/svg/profile_28-01.svg">
        <div class="common-text common-text--medium text-dodger-blue">Профиль</div>
      </a>
      {{#iff user.role '==' user.config.roles.app }}
      <a href="/profile/responses" class="link-btn js-nav-link dropdown__item dropdown__item_profile">
        <img class="dropdown__img" src="/images/svg/briefcase_outline_28-01.svg">
        <div class="common-text common-text--medium text-dodger-blue"> Отклики </div>
      </a>
      {{/iff}}
      <a class="link-btn dropdown__item dropdown__item_profile" name="switch">
        <img class="dropdown__img" src="/images/svg/refresh_outline_28-01.svg">
        <div class="common-text common-text--medium text-dodger-blue">Сменить роль</div>
      </a>
      <a class="link-btn dropdown__item dropdown__item_profile" name="leave">
        <img class="dropdown__img" src="/images/svg/door_arrow_left_outline_28-01.svg">
        <div class="common-text common-text--medium text-dodger-blue">Выход из аккаунта</div>
      </a>
      {{else}}
        <div class="dropdown__item cursor-pointer">
          <a href="https://github.com/frontend-park-mail-ru/2023_2_VIVE" target="_blank" class="link-btn common-text common-text--medium text-dodger-blue">О нас</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <a href="/vacs" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Вакансии</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Соискатели</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <img class="dropdown__img" src="/images/svg/arrow_right_outline_20-01.svg">
          <a href="/app_auth" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Войти</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <img class="dropdown__img" src="/images/svg/add_alt_20-01.svg">
          <a href="/app_reg" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Зарегистрироваться</a>
        </div>
      {{/if}}
    </div>
  </div>
  