{{> header_left (object links=(array
(object href="/vacs" text="Вакансии")
(object href="#" text="Кандидаты")
(object href="#" text="Прайс-лист")
))}}

<div class="navbar__right">
  <div class="navbar__item">
    {{> link-btn (object href="/vac_creation" text="Создать вакансию"
    class="js-nav-link navbar__item__btn link-btn-blue text-dodger-blue"
    data=(array (object key="type" value="res_create")))}}
  </div>
  <div class="navbar__item">
    {{> link-btn (object href="#"
    class="js-nav-link navbar__item__btn link-btn_link link-btn_transp link-btn_block link-btn_pd-sm cursor-not-allowed"
    svg='<svg width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.666992 28.6667V25.8889H4.00033V13.5555C4.00033 11.2315 4.69014 9.15509 6.06978 7.32637C7.4494 5.49768 9.25958 4.33333 11.5003 3.83333V2.83333C11.5003 2.13888 11.7434 1.54861 12.2295 1.06249C12.7156 0.576384 13.3059 0.333328 14.0003 0.333328C14.6948 0.333328 15.285 0.576384 15.7712 1.06249C16.2573 1.54861 16.5003 2.13888 16.5003 2.83333V3.83333C18.7411 4.33333 20.5513 5.49768 21.9309 7.32637C23.3105 9.15509 24.0003 11.2315 24.0003 13.5555V25.8889H27.3337V28.6667H0.666992ZM14.0003 33.6667C13.0837 33.6667 12.2989 33.3403 11.6462 32.6875C10.9934 32.0347 10.667 31.25 10.667 30.3333H17.3337C17.3337 31.25 17.0073 32.0347 16.3545 32.6875C15.7017 33.3403 14.917 33.6667 14.0003 33.6667ZM6.77808 25.8889H21.2226V13.5555C21.2226 11.5555 20.5189 9.85183 19.1115 8.44441C17.704 7.03702 16.0003 6.33333 14.0003 6.33333C12.0003 6.33333 10.2966 7.03702 8.8892 8.44441C7.48178 9.85183 6.77808 11.5555 6.77808 13.5555V25.8889Z"
        fill="#0496FF" />
    </svg>
    ')}}
  </div>
  <div class="navbar__item">
    {{> link-btn (object href="#"
    class="js-nav-link navbar__item__btn link-btn_link link-btn_transp link-btn_block link-btn_pd-sm cursor-not-allowed"
    svg='<svg width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17.5002 30.972L15.5557 29.2221C12.6619 26.581 10.2694 24.3026 8.37837 22.387C6.48734 20.4715 4.98165 18.7568 3.86129 17.2429C2.7409 15.729 1.95618 14.3517 1.50712 13.111C1.05804 11.8702 0.833496 10.6109 0.833496 9.33317C0.833496 6.79328 1.68534 4.6722 3.38904 2.96992C5.09276 1.26764 7.20387 0.416504 9.72237 0.416504C11.2594 0.416504 12.6946 0.768351 14.028 1.47205C15.3613 2.17577 16.5187 3.18503 17.5002 4.49984C18.5927 3.12948 19.7918 2.10632 21.0974 1.43038C22.4029 0.754463 23.7965 0.416504 25.278 0.416504C27.7965 0.416504 29.9076 1.26764 31.6113 2.96992C33.315 4.6722 34.1668 6.79328 34.1668 9.33317C34.1668 10.6109 33.9423 11.8702 33.4932 13.111C33.0442 14.3517 32.2594 15.729 31.139 17.2429C30.0187 18.7568 28.513 20.4715 26.622 22.387C24.7309 24.3026 22.3384 26.581 19.4446 29.2221L17.5002 30.972ZM17.5002 27.2776C20.2638 24.7592 22.5381 22.5995 24.3229 20.7985C26.1077 18.9976 27.5233 17.4235 28.5696 16.0762C29.6159 14.729 30.3474 13.5287 30.7641 12.4753C31.1807 11.4218 31.3891 10.3758 31.3891 9.33717C31.3891 7.55673 30.815 6.0878 29.6668 4.93038C28.5187 3.77296 27.0578 3.19425 25.2842 3.19425C23.8948 3.19425 22.609 3.60862 21.4266 4.43734C20.2442 5.26603 19.3335 6.39798 18.6946 7.83317H16.278C15.6576 6.4165 14.7562 5.28919 13.5737 4.45121C12.3914 3.61324 11.1055 3.19425 9.71612 3.19425C7.94251 3.19425 6.48164 3.77296 5.3335 4.93038C4.18533 6.0878 3.61125 7.55831 3.61125 9.34192C3.61125 10.3824 3.81958 11.4327 4.23625 12.4929C4.65291 13.5531 5.3844 14.7614 6.4307 16.1179C7.47701 17.4744 8.89832 19.0485 10.6946 20.8401C12.4909 22.6318 14.7594 24.7776 17.5002 27.2776Z"
        fill="#0496FF" />
    </svg>
    ')}}
  </div>
  {{> header_drop}}
</div>
