<div class="navbar__left">
  {{#each links}}
  <div class="navbar__item">
    {{> link-btn (object href=href text=text
    class="navbar__item__btn link-btn link-btn_transp link-btn_semi-bold link-btn_pd-med link-btn_block")}}
  </div>
  {{/each}}
</div>
