<div class="navbar__right">
  <div class="navbar__item">
    {{> link-btn (object href="/app_auth" text="Уже есть аккаунт"
    class="js-nav-link navbar__item__btn link-btn-blue text-dodger-blue"
    data=(array (object key="type" value="login")))}}
  </div>
  <div class="navbar__item">
    {{> link-btn (object href="/app_reg" text="Зарегистрироваться"
    class="js-nav-link navbar__item__btn link-btn-blue--bg text-light-title"
    data=(array (object key="type" value="reg")))}}
  </div>
</div>

<div class="dropdown navbar-mobile">
    <div class="navbar__item">
      <img class="cursor-pointer dropdown__padd-btn" name="drop-btn-mobile" src="../../public/images/img/more_28-01.png" style="width: 36px; height: 36px; flex-shrink: 0;">
    </div>
    <div class="dropdown__content dropdown__content-left dropdown__content__mobile d-none">
      <div class="dropdown__item cursor-pointer">
          <a href="#" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">О нас</a>
      </div>
      <div class="dropdown__item cursor-pointer">
          <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Соискатели</a>
      </div>
      <div class="dropdown__item cursor-pointer">
          <a href="/vacs" class="js-nav-link common-text link-btn common-text--medium text-dodger-blue">Вакансии</a>
      </div>
      <div class="dropdown__item cursor-pointer">
        <img class="dropdown__img" src="../../public/images/img/arrow_right_outline_20-01.png">
        <a href="/app_auth" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Уже есть аккаунт</a>
      </div>
      <div class="dropdown__item cursor-pointer">
        <img class="dropdown__img" src="../../public/images/img/add_alt_20-01.png">
        <a href="/app_reg" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Зарегистрироваться</a>
      </div>
    </div>
  </div>