<div class="navbar__right">
  <div class="navbar__item">
    {{> components/link-btn (object href="/vacancy/creation" text="Создать вакансию"
    class="js-nav-link navbar__item__btn link-btn-blue text-dodger-blue"
    data=(array (object key="type" value="res_create")))}}
  </div>
  {{> header/header_notification_drop}}
  {{> header/header_profile_drop}}
</div>
