<div class="dropdown">
    <div class="navbar__item">
      <img class="cursor-pointer dropdown__padd-btn" name="drop-btn-profile" src="../../public/images/img/more_28-01.png" style="width: 36px; height: 36px; flex-shrink: 0;">
    </div>
    <div class="dropdown__content dropdown__content-left dropdown__content__profile mobile__header-drop d-none">
      {{#if user}}
      {{#iff user.role '==' 'applicant'}}
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/profile/resumes" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Мои резюме</a>
      </div>
      {{else}}
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/profile/vacancies" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Мои Вакансии</a>
      </div>
      {{/iff}}
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Соискатели</a>
      </div>
      <div class="dropdown__item dropdown-mobile__item cursor-pointer">
        <a href="/vacs" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Вакансии</a>
      </div>
      <div class="dropdown__item cursor-pointer">
        <img class="dropdown__img" src="../../public/images/img/profile_28-01.png">
        <a href="/profile" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Профиль</a>
      </div>
      <div class="dropdown__item cursor-pointer">
        <img class="dropdown__img" src="../../public/images/img/settings_outline_28-01.png">
        <a href="/profile/settings" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue"> Настройки</a>
      </div>
      <div class="dropdown__item cursor-pointer" name="switch">
        <img class="dropdown__img" src="../../public/images/img/refresh_outline_28-01.png">
        <div class="common-text common-text--medium text-dodger-blue">Сменить роль</div>
      </div>
      <div class="dropdown__item cursor-pointer"  name="leave">
        <img class="dropdown__img" src="../../public/images/img/door_arrow_left_outline_28-01.png">
        <div class="common-text common-text--medium text-dodger-blue">Выход из аккаунта</div>
      </div>
      {{else}}
        <div class="dropdown__item cursor-pointer">
          <a href="#" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">О нас</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <a href="/vacs" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Вакансии</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <a href="/resumes" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Соискатели</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <img class="dropdown__img" src="../../public/images/img/arrow_right_outline_20-01.png">
          <a href="/app_auth" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Войти</a>
        </div>
        <div class="dropdown__item cursor-pointer">
          <img class="dropdown__img" src="../../public/images/img/add_alt_20-01.png">
          <a href="/app_reg" class="js-nav-link link-btn common-text common-text--medium text-dodger-blue">Зарегистрироваться</a>
        </div>
      {{/if}}
    </div>
  </div>
  