{{> header_left (object links=(array
(object href="#" text="О нас")
(object href="#" text="Как это работает")
(object href="/" text="Вакансии")
))}}

<div class="navbar__right">
  <div class="navbar__item">
    {{> link-btn (object href="/app_auth" text="Уже есть аккаунт"
    class="js-nav-link navbar__item__btn link-btn_transp-box-blue link-btn_block link-btn_pd-med link-btn_bd-rad-sm
    link-btn_semi-bold"
    data=(array (object key="type" value="login")))}}
  </div>
  <div class="navbar__item">
    {{> link-btn (object href="/app_reg" text="Зарегистрироваться"
    class="js-nav-link navbar__item__btn link-btn_blue link-btn_block link-btn_pd-med link-btn_bd-rad-sm
    link-btn_semi-bold"
    data=(array (object key="type" value="reg")))}}
  </div>
</div>
